.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.header-logo {
  font-size: 30px;
  font-weight: 900;
  display: flex;
  line-height: 90px;
  align-items: center;
  flex: none;
  padding: 0 70px 0 115px;
  text-decoration: none;
  color: $highlight;

  @include max(768) {
    padding: 0 15px 0 115px;
  }
  @include max(425) {
    padding: 0 15px 0 75px;
    line-height: 60px;
  }
}

.header-phone {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  padding-right: 90px;

  @include max(1200) {
    padding-right: 30px;
  }
}
.header-phone__text {
  font-size: 10px;
  font-weight: 300;
  color: $text;

  @include max(470) {
    display: none;
  }
}
.header-phone__link {
  text-decoration: none;
  span {
    font-size: 22px;
    font-weight: 700;
    color: $text;

    @include max(470) {
      display: none;
    }
  }
  svg {
    display: none;
    max-width: 40px;
    max-height: 40px;

    fill: $text;
    @include max(470) {
      display: block;
    }
    @include max(425) {
      max-width: 30px;
      max-height: 30px;
    }
  }
}

// begin header-main
.header-main {
  .header-logo {
    color: #fff;
  }
  .header-phone__text,
  .header-phone__link span {
    color: #fff;
  }
  .header-phone__link svg {
    fill: #fff;
  }
}
// end header-main
