.popup-success__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, .8);
  padding: 20px;
}
.popup-sussess {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  max-width: 800px;
  width: 100%;
  padding: 100px 30px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
}
.popup-sussess__close{
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid $highlight;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s;
  cursor: pointer;
  &:hover {
    transform: rotate(360deg);
  }
  svg {
    width: 10px;
    height: 10px;
    fill:$highlight;

  }
}

