.productcard-tab {
  background-image: $gradient;
}
.productcard-tab__tabs {
  display: flex;
}
.productcard-tab__tab {
  width: 50%;
  padding: 20px 10px;
  cursor: pointer;
  text-align: center;
  background-color: #1c1e1e;
  span {
    font-size: 20px;
    font-weight: 900;
    color: #919494;
    @include max(425) {
      font-size: 16px;
    }
  }
  &.active {
    background-color: transparent;
    span {
      color: #fff;
    }
  }
}
.productcard-tab__card {
  display: none;
  padding: 60px 0 40px 0;
  &.active {
    display: block;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max(1100) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
.productcard-tab__item {
  margin-bottom: 20px;
  padding: 0 10px;
}

.productcard-tab__old-price {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  color: #fff;
  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    content: '';
    background-color: $highlight;
  }
}
.productcard-tab__new-price {
  font-size: 30px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}
.productcard-tab__text-price {
  font-size: 16px;
  font-weight: 300;
  display: block;
  color: #fff;
}


.productcard-tab__sale {
  display: flex;
  padding: 20px 30px;
  border: 2px dashed #fff;
  svg {
    width: 50px;
    height: 50px;

    fill: #fff;
  }
}
.productcard-tab__sale-text {
  font-weight: 300;
  padding-left: 20px;
  color: #fff;
}
.productcard-tab__sale-date {
  font-size: 16px;
  display: block;
}
.productcard-tab__sale-percent {
  font-size: 18px;
  display: block;
}


.productcard-tab__basket-btn {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 40px 0 30px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #fff;
  margin: 0 auto;
  img {
    display: block;
    width: 30px;
    margin-right: 35px;
    @include max(550) {
      margin-right: 10px;
    }
  }
  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    transition: color .5s;
    color: $text;
    @include max(550) {
      font-size: 16px;
    }
    @include max(425) {
      font-size: 14px;
    }
  }
  &:hover {
    span {
      color: $highlight;
    }
  }
}
.productcard-tab__paypal {
  margin-top: 20px;
  img {
    display: block;
    width: 100%;
  }
}
