.top-slider {
  margin-top: -90px;
  margin-bottom: 0 !important;

  .slick-dots {
    position: absolute;
    right: 0;
    bottom: 150px;
    display: flex !important;
    align-items: flex-start;
    width: 100%;
    max-width: 1680px;
    padding-left: 20px;

    @include max(1400) {
      bottom: 30px;
    }

    li {
      width: 10px;
      height: 10px;
      transition: background-color .5s;
      border-radius: 50%;
      background-color: #c5e2e7;
      &.slick-active {
        background-color: #2bdafa;
      }
    }
  }
}
.top-slider__slide {
  position: relative;
  display: flex !important;
  align-items: flex-end;
  min-height: 800px;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    opacity: .35;
    background-color: #000;
  }
}
.top-slider__text-row {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1680px;
  min-height: 270px;
  margin-bottom: 85px;
  margin-left: auto;

  @include max(1300) {
    align-items: flex-end;
    flex-wrap: wrap;
  }
}
.top-slider__text-item--title {
  line-height: 1.2;
  width: 50%;
  max-width: 600px;
  margin-bottom: 40px;
  padding: 0 20px;
}
.top-slider__text-item--text {
  width: 50%;
  max-width: 500px;
  padding: 0 20px;

  @include max(1300) {
    width: calc(100% - 400px);
    max-width: 100%;
  }
  @include max(1000) {
    width: 100%;
  }
}
.top-slider__text-item--link {
  display: flex;
  flex: none;
  width: 370px;
  height: 150px;
  text-decoration: none;
  color: #fff;
  &:hover {
    .top-slider__next-arrow {
      background-color: #00f2fe;
      svg {
        fill: #fff;
      }
    }
  }
}
.top-slider__next-link {
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  padding-left: 50px;
  color: #fff;
  background-image: url('../img/top-slider-link.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-slider__next-link--sm {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}
.top-slider__next-link--lg {
  font-size: 30px;
  font-weight: 700;
}
.top-slider__next-arrow {
  display: flex;
  align-items: center;
  flex: none;
  justify-content: center;
  width: 90px;
  transition: .5s;
  background-color: #fff;

  svg {
    width: 7px;
    height: 10px;
    transition: .5s;

    fill: $text;
  }
}
.top-slider__link-mehr {
  margin-top: 50px;

  @include max(1300) {
    margin-top: 20px;
  }
  @include max(1000) {
    margin-bottom: 30px;
  }
  span,
  a {
    color: #fff;
  }
}
.top-slider__text-title {
  font-size: 60px;
  font-weight: 700;
  color: #fff;

  @include max(1600) {
    font-size: 50px;
  }
  @include max(1200) {
    font-size: 40px;
    margin-bottom: 0;
  }
}
.top-slider__text-item {
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;

    @include max(1400) {
      font-size: 18px;
    }
  }
}

.top-slider__list {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0 0 0 20px;
  color: #fff;
  li {
    padding: 5px 0;
    list-style-image: url('../img/ul.png');
  }
}
.top-slider__slide--03 {
  background-position: -200px 0;
  .top-slider__text-item--text {
    padding-left: 70px;

    @include max(1300) {
      padding-left: 20px;
    }
  }
  p {
    max-width: 350px;
  }
}
