//begin aside-left
aside.aside-left
  a(href="/").aside-left-logo
    svg
      use(xlink:href="assets/img/sprite.svg#logo")
  nav.left-menu#left-menu
    .left-menu-burger
      .left-menu-burger--open
        svg
          use(xlink:href="assets/img/sprite.svg#left-menu")
        span.left-menu-burger__text Menu
      .left-menu-burger--close
        svg
          use(xlink:href="assets/img/sprite.svg#left-menu-close")
        span.left-menu-burger__text Schließen
    
    .left-menu__wrap#left-menu__wrap
      ul.left-menu__list
        //begin duplicated top menu
        li.left-menu__item.left-menu__item--parent.left-menu__item--top-menu
          a(href="brand.html").left-menu__link Unternehmen
          .left-menu__dot-dot-dot
          ul.left-menu__sublist
            li.left-menu__sublink
              a(href="catalog.html").left-menu__sublink Alle Modelle
            li.left-menu__sublink
              a(href="brand.html").left-menu__sublink Delfi SPA
        li.left-menu__item.left-menu__item--top-menu
          a(href="contacts.html").left-menu__link Kontakt
        li.left-menu__item.left-menu__item--top-menu
          a(href="shops.html").left-menu__link Standorte
        //end duplicated top menu


        li.left-menu__item
          a(href="catalog.html").left-menu__link Catalogue SPA Pools
        li.left-menu__item
          a(href="brand.html").left-menu__link About us
        li.left-menu__item
          a(href="blog.html").left-menu__link TIPPS rund um Ihren Whirlpool
        li.left-menu__item
          a(href="versand.html").left-menu__link Versand und Zahlung
        li.left-menu__item
          a(href="contacts.html").left-menu__link Kontaktanfrage
        li.left-menu__item
          a(href="faq.html").left-menu__link FAQ
        li.left-menu__item
          a(href="shops.html").left-menu__link Unsere Fachgeschäfte

//end aside-left