//begin bath-tab
section.bath-tab
  // begin bath-tab__header
  header.bath-tab__header

    .container
      h2.bath-tab__header-title Produktinformationen Model "Nerida"
  // end bath-tab__header

  .container
    .bath-tab__main-tabs
      .bath-tab__main-tab.active(data-tab="01")
        span Besonderheiten
      .bath-tab__main-tab(data-tab="02")
        span Hydrotherapie

  .container
    .bath-tab__body
      //begin bath-tab__item--01
      .bath-tab__item.bath-tab__item--01.active
        .bath-tab__bath
          .bath-tab__bath-btn.bath-tab__bath-btn--01.active(data-tab="01")
            span 1
          .bath-tab__bath-btn.bath-tab__bath-btn--02(data-tab="02")
            span 2
          .bath-tab__bath-btn.bath-tab__bath-btn--03(data-tab="03")
            span 3
          img(src="assets/img/zones-bath.jpg" alt="man")
        .bath-tab__zones.bath-tab__zones--01.active
          .bath-tab__zones-item
            img(src="assets/img/man-01.jpg" alt="man")
          .bath-tab__zones-item
            h3.bath-tab__zones-title Whirlplatz
            p Dieser Therapiesitz liefert Ihnen eine umfassende Massage. 4 kraftvolle Düsen massieren den Trapezmuskel und die Schultern von oben, Nackendüsen lockern Verspannungen im Nacken. Gleichzeitig massieren teilweise rotierende großflächige Düsen mit großen Öffnungen und einem hohen Wasserdurchfluss den Rücken, und sorgen für neue Beweglichkeit und ein neues Gefühl der Entspannung. Auch die Massage von Oberschenkeln, Unterarmen und Handgelenken fehlen nicht auf diesem umfassenden Massagesitz. Und nach einem langen Tag auf den Beinen gibt es nichts besseres als unsere belebende Fußreflexzonenmassage.

        .bath-tab__zones.bath-tab__zones--02
          .bath-tab__zones-item
            img(src="assets/img/man-02.jpg" alt="man")
          .bath-tab__zones-item
            h3.bath-tab__zones-title Whirlplatz
            p Dieser Therapiesitz liefert Ihnen eine umfassende Massage. 4 kraftvolle Düsen massieren den Trapezmuskel und die Schultern von oben, Nackendüsen lockern Verspannungen im Nacken. Gleichzeitig massieren teilweise rotierende großflächige Düsen mit großen Öffnungen und einem hohen Wasserdurchfluss den Rücken, und sorgen für neue Beweglichkeit und ein neues Gefühl der Entspannung. Auch die Massage von Oberschenkeln, Unterarmen und Handgelenken fehlen nicht auf diesem umfassenden Massagesitz. Und nach einem langen Tag auf den Beinen gibt es nichts besseres als unsere belebende Fußreflexzonenmassage.

        .bath-tab__zones.bath-tab__zones--03
          .bath-tab__zones-item
            img(src="assets/img/man-03.jpg" alt="man")
          .bath-tab__zones-item
            h3.bath-tab__zones-title Whirlplatz
            p Dieser Therapiesitz liefert Ihnen eine umfassende Massage. 4 kraftvolle Düsen massieren den Trapezmuskel und die Schultern von oben, Nackendüsen lockern Verspannungen im Nacken. Gleichzeitig massieren teilweise rotierende großflächige Düsen mit großen Öffnungen und einem hohen Wasserdurchfluss den Rücken, und sorgen für neue Beweglichkeit und ein neues Gefühl der Entspannung. Auch die Massage von Oberschenkeln, Unterarmen und Handgelenken fehlen nicht auf diesem umfassenden Massagesitz. Und nach einem langen Tag auf den Beinen gibt es nichts besseres als unsere belebende Fußreflexzonenmassage.
      //end bath-tab__item--01

      //begin bath-tab__item--02
      .bath-tab__item.bath-tab__item--02
        .bath-tab__bath-02
          .bath-tab__bath-02-btn.bath-tab__bath-02-btn--01.active(data-tab="01")
            svg
              use(xlink:href="assets/img/sprite.svg#plus")
          .bath-tab__bath-02-btn.bath-tab__bath-02-btn--02(data-tab="02")
            svg
              use(xlink:href="assets/img/sprite.svg#plus")
          .bath-tab__bath-02-btn.bath-tab__bath-02-btn--03(data-tab="03")
            svg
              use(xlink:href="assets/img/sprite.svg#plus")
          .bath-tab__bath-02-btn.bath-tab__bath-02-btn--04(data-tab="04")
            svg
              use(xlink:href="assets/img/sprite.svg#plus")
          .bath-tab__bath-02-btn.bath-tab__bath-02-btn--05(data-tab="05")
            svg
              use(xlink:href="assets/img/sprite.svg#plus")
          img(src="assets/img/zones-bath.jpg" alt="man")
        .bath-tab__zones-02.bath-tab__zones-02--01.active
          .bath-tab__zones-02-img
            img(src="assets/img/bath-tab-01.jpg" alt="img")
          h4.bath-tab__zones-02-title Beleuchtetes Touch-Bedienpaneel
          p Hintergrundbeleuchtetes und einfach ablesbares LCD-Display für kinderleichte Bedienung mit allen wichtigen Funktionen: Digitale Wassertemperaturanzeige, Energiesparmodus, Winter Smart Gefrierschutz, Diagnoseanzeige für maximalen Bedienkomfort
        .bath-tab__zones-02.bath-tab__zones-02--02
          .bath-tab__zones-02-img
            img(src="assets/img/bath-tab-02.jpg" alt="img")
          h4.bath-tab__zones-02-title Spezielle Hydrotherapie
          p Pulsierend, rotierend und knetend massieren die Edelstahldüsen und versorgen alle Körperpartien durchdacht und optimal: Nacken & Schulter, Rücken- & Lendenbereich, Ober- & Unterschenkel, Fußreflexzonenmassage. Wählen Sie einfach Ihren Lieblingsplatz.
        .bath-tab__zones-02.bath-tab__zones-02--03
          .bath-tab__zones-02-img
            img(src="assets/img/bath-tab-03.jpg" alt="img")
          h4.bath-tab__zones-02-title ClearCrystal Reinigungssystem
          p Intelligentes mehrstufiges Wassermanagementsystem mit Filtersystem und hochwirksamer Desinfektionsanlage für die unkomplizierte Desinfektion und Reinigung des Wassers, welche den Einsatz von Wasserpflegemitteln stark reduziert.
        .bath-tab__zones-02.bath-tab__zones-02--04
          .bath-tab__zones-02-img
            img(src="assets/img/bath-tab-04.jpg" alt="img")
          h4.bath-tab__zones-02-title Multilicht LED Beleuchtung
          p LED-Effektlichter für ein optisches Highlight, Beleuchtung der Wasserlinie durch viele kleine LEDs (Wasser schimmert in der eingestellten Farbe), LED-Wasserspiel und hinterleuchtete Luftdüsen mit Farbfeststellung und Farbwechsel schaffen eine besondere Atmosphäre.
        .bath-tab__zones-02.bath-tab__zones-02--05
          .bath-tab__zones-02-img
            img(src="assets/img/bath-tab-05.jpg" alt="img")
          h4.bath-tab__zones-02-title Luftsprudelsystem und Aromatherapie
          p Liegen Sie entspannt auf der Massageliege und lassen Sie sich durch die sanfte, vitalisierende Luftsprudelmassage mit vorgewärmter Luft verwöhnen. Dadurch wird die Hautdurchblutung verbessert und der Organismus vitalisiert. Sehr entspannend nach einem langen Arbeitstag, nach dem Sport oder vor dem Schlafengehen.
      //end bath-tab__item--02

//end   bath-tab