mixin catalog-slider__item()
  .catalog-slider__item
    a(href="/productcard.html").catalog-slider__link
    .catalog-slider__cover
      button
        svg
          use(xlink:href="assets/img/sprite.svg#basket")
        span buy now
    h3.catalog-slider__title Delfi Spa - Nerida
    .catalog-slider__img
      img(src="assets/img/catalog-slider/slide-01.jpg" alt="delfi-spa")
    .catalog-slider__param
      span.catalog-slider__param--sizes 217 x 217 x 104 cm
      span.catalog-slider__param--persons 4-6 people
    .catalog-slider__footer
      .catalog-slider__action
        span Aktion 5.999,- &#8364;
      span.catalog-slider__btn
        svg
          use(xlink:href="assets/img/sprite.svg#plus")

//begin catalog-slider
section.catalog-slider-section
  .catalog-slider#catalog-slider
    +catalog-slider__item()
    +catalog-slider__item()
    +catalog-slider__item()
    +catalog-slider__item()
    +catalog-slider__item()
    +catalog-slider__item()

  .catalog-slider__more
    a(href="#")
      |Catalogue
      br
      |SPA
      br
      svg
        use(xlink:href="assets/img/sprite.svg#arrow")
//end   catalog-slider