//begin footer
footer.footer
  .container
    //begin footer-item
    .footer-item
      a(href="#").footer-logo__link
        img(src="assets/img/footer-logo.png" alt="Delfy Spa")
      // begin footer-phone
      .footer-phone
        span.footer-phone__text Gebührenfreie Beratungshotline:
        a(href="tel:08005895287").footer-phone__link
          span 0 800 58 95 287
      // end footer-phone
    //end footer-item

    //begin footer-item
    .footer-item
      h3.footer-item__title Über uns
      ul.footer-item__list
        li.footer-item__item
          a(href="#").footer-item__link Unternehmen
        li.footer-item__item
          a(href="#").footer-item__link News & Aktionen
        li.footer-item__item
          a(href="#").footer-item__link Standorte
        li.footer-item__item
          a(href="#").footer-item__link Kundenservice Kontakt
        li.footer-item__item
          a(href="#").footer-item__link Beruf & Karriere
    //end footer-item

    //begin footer-item
    .footer-item
      h3.footer-item__title Standorte
      ul.footer-item__list
        li.footer-item__item
          a(href="#").footer-item__link Berlin
        li.footer-item__item
          a(href="#").footer-item__link Düsseldorf
        li.footer-item__item
          a(href="#").footer-item__link Frankfurt-Heusenstamm
        li.footer-item__item
          a(href="#").footer-item__link Hamburg
        li.footer-item__item
          a(href="#").footer-item__link München
        li.footer-item__item
          a(href="#").footer-item__link Stuttgart
    //end footer-item

    //begin footer-item
    .footer-item
      h3.footer-item__title Impressum/AGB
      ul.footer-item__list
        li.footer-item__item
          a(href="#").footer-item__link Sitemap
        li.footer-item__item
          a(href="#").footer-item__link Datenschutz
        li.footer-item__item
          a(href="#").footer-item__link Haftungsaussschluß
        li.footer-item__item
          a(href="#").footer-item__link Impressum
        li.footer-item__item
          a(href="#").footer-item__link AGB
    //end footer-item
//end footer