// begin header-main
header.header.header-main
  // begin header-logo
  a(href="/").header-logo Delfi Spa
  // end header-logo
    
  // begin header-menu
  nav.header-menu
    ul.header-menu__list
      li.header-menu__item.header-menu__item--parent
        a(href="brand.html").header-menu__link Unternehmen
        .header-menu__dot-dot-dot
        ul.header-menu__sublist
          li.header-menu__subitem
            a(href="catalog.html").header-menu__sublink Alle Modelle
          li.header-menu__subitem
            a(href="brand.html").header-menu__sublink Delfi SPA
      li.header-menu__item
        a(href="contacts.html").header-menu__link Kontakt
  // end header-menu

  // begin header-phone
  .header-phone
    span.header-phone__text Gebührenfreie Beratungshotline:
    a(href="tel:08005895287").header-phone__link 
      svg
        use(xlink:href="assets/img/sprite.svg#call")
      span 0 800 58 95 287
  // end header-phone
// end header-main