//begin index-banner
section.index-banner
  .container-lg
    .index-banner__item.index-banner__item--logo
      //img(src="assets/img/index-banner-logo.svg" alt="Delfi Spa")
      img(src="assets/img/index-banner-logo.png" alt="Delfi Spa")
    .index-banner__item.index-banner__item--text
      h2.index-banner__title Hohe Qualität ohne Kompromisse
      p.index-banner__text Die Delfi Spas Whirlpools bieten bereits Standards und Extras, die sonst nur die „Top-of-the-Line“ zu bieten hat: langbewährte und aufeinander abgestimmte Markenkomponenten, einfache Bedienung, effektive Wasserreinigung für zeitsparende Pflege und hervorragende Isolierung für geringere Betriebskosten.
      span.btn.btn--custom.index-banner__btn
        span.btn--inner
          a(href="brand.html") Mehr info
//end   index-banner