//begin index-text
section.index-text
  .container-lg
    .index-text__item.index-text__item--left
      h2.index-text__title Whirlpools für Garten und Terrasse
    .index-text__item.index-text__item--right
      p Wir sind Ihr Experte rund um das Thema Whirlpool – bei uns finden Sie genau das Modell, das zu Ihnen passt. Wir setzen auf Qualität, und das mit Erfolg, denn heute sind wir in Deutschland mit unseren 6 Fachgeschäften als Spezialist für Whirlpools bekannt. Ihre Wünsche stehen im Mittelpunkt unserer kompetenten Beratung. Über 4.000 zufriedene Kunden vertrauen auf unsere Kompetenz und unseren hohen Qualitätsanspruch.
//end   index-text