//begin index-reviews
section.index-reviews
  .reviews-slider#reviews-slider
    .reviews-slider__item.reviews-slider__item--pdf
      .reviews-slider__left
      .reviews-slider__middle
        a(data-fancybox="gallery" href="assets/img/review-pdf.jpg")
          img(src="assets/img/review-pdf-thumb.jpg" alt="pdf")
      a(href="#").reviews-slider__right
        h3.reviews-slider__title Referenzen
        p Hallo Herr Pilz, unseren Whirlpool nutzen wir jetzt schon 10 Monate. Wir baden fast täglich. Was ich noch loswerden wollte: Qualität, Preis, Abwicklung: Alles sehr gut! Danke.
        span.reviews-slider__signature H. Heinze, Bocholt

    a(href="#").reviews-slider__item.reviews-slider__item--blockquote
      .reviews-slider__left
      .reviews-slider__middle
        svg
          use(xlink:href="assets/img/sprite.svg#reviews")
        img(src="assets/img/reviews-icon.png" alt="review")
      .reviews-slider__right
        h3.reviews-slider__title Referenzen
        p Gestern wurde unser Whirlpool angeliefert. Wie schnell der große schwere Gartenwhirlpool bei uns auf67 der Terrasse stand, dank der eingesetzten Anlieferungstechnik. Sehr professionell. Wir empfehlen Sie gerne weiter!
        span.reviews-slider__signature M. Hölscher, Ampfing

    .reviews-slider__item.reviews-slider__item--video
      .reviews-slider__left
      .reviews-slider__middle
        a(data-fancybox="gallery" href="https://youtu.be/0RF9ZDm8n5I")
          img(src="assets/img/reviews-video.jpg" alt="pdf")
      a(href="#").reviews-slider__right
        h3.reviews-slider__title Referenzen
        p Hallo Herr Pilz, unseren Whirlpool nutzen wir jetzt schon 10 Monate. Wir baden fast täglich. Was ich noch loswerden wollte: Qualität, Preis, Abwicklung: Alles sehr gut! Danke.
        span.reviews-slider__signature H. Heinze, Bocholt

  .reviews-more
    a(href="#") Alle Referenzen ansehen
      br
      svg
        use(xlink:href="assets/img/sprite.svg#arrow")
//end   index-reviews