//begin index-about
section.index-about
  header.index-about__header
    .container
      h2.index-about__header-title About company
  .container
    .index-about__row
      .index-about__picture
        img(src="assets/img/index-about-01.jpg" alt="Delfi Spa")
      .index-about__text
        h3.index-about__title Whirlpool und Wellness für Ihre Gesundheit
        p Wenn Sie verlernt haben, abzuschalten und die Seele baumeln zu lassen, dann ist es Zeit, dass Sie sich zu Hause einen neuen Lebensraum zum Wohlfühlen zu schaffen. Mit einem Delfi Outdoor Whirlpool erleben Sie Entspannung und Hydrotherapie im eigenen Heim - egal zu welcher Jahreszeit und wann immer Sie Zeit haben. Ein heißes Bad fördert die Entspannung im Nacken-, Schulter- und Rückenbereich und wirkt gegen die typischen Stresssymptome. Der Whirlpool ruft eine revitalisierende Wirkung hervor, die wohltuende Wärme bringt unseren Kreislauf in Gang, die Körpertemperatur steigt an und die Durchblutung wird gefördert.
        span.btn.btn--custom.index-about__btn
          span.btn--inner
            a(href="#") Unsere Fachgeschäfte
    .index-about__row
      .index-about__picture
        img(src="assets/img/index-about-02.jpg" alt="Delfi Spa")
      .index-about__text
        h3.index-about__title Ihr Ratgeber zur Auswahl des richtigen Whirlpools
        p Der Markt für Whirlpools, Außenwhirlpools oder Outdoor-Pools ist auf den ersten Blick relativ unübersichtlich. Auch sehr günstige Whirlpools scheinen oft sehr attraktiv, Unterschiede in Verarbeitung, Qualität, und Funktionalität sind manchmal nur schwer zu erkennen. Die Optik von einigen Billiganbietern mag oftmals schön wirken, aber es kommt auf die „inneren Werte“ an, sonst ist der Spaß am „Whirlen“ schon bald vorbei, wenn Sie beispielsweise mit einem nicht vorhandenen Kundendienst konfrontiert werden. Aufgrund unserer jahrelangen Erfahrung, unseren bundesweiten Fachausstellungen und dem deutschlandweiten Kundendienst können Sie bei uns sicher sein, dass Sie Ihren Whirlpool jahrelang entspannt genießen können.
        span.btn.btn--custom.index-about__btn
          span.btn--inner
            a(href="#") Unsere Fachgeschäfte
    .index-about__row
      .index-about__picture
        img(src="assets/img/index-about-03.jpg" alt="Delfi Spa")
      .index-about__text
        h3.index-about__title Außen-Whirlpools in Deutschland – mit 6x Fachgeschäften sind wir für Sie vor Ort
        p Wenn es um Outdoor Whirlpools geht, sind wir Ihr Experte. Sie finden uns in Ihrer Nähe in Berlin (Citylage in Berlin-Steglitz), Düsseldorf (Citylage im Medienhafen), Frankfurt a.M. (Heusenstamm), Hamburg (Citylage in Hamburg-Horn), München (Citylage in München Riem) und in Stuttgart (Citylage). Lassen Sie sich vor Ort von unserem freundlichen und kompetenten Fachpersonal beraten und treffen Sie Ihre Auswahl in unserer entspannten Atmosphäre. Unsere Fachberater sind zu unseren täglichen festen Öffnungszeiten für Sie da, besuchen Sie uns Montag-Freitag von 10:00-18:00 und Samstag zwischen 10:00 – 14:30 Uhr, gerne auch ohne Voranmeldung.
        span.btn.btn--custom.index-about__btn
          span.btn--inner
            a(href="#") Unsere Fachgeschäfte
//end   index-about