//begin popup-success__layer
section.popup-success__layer
  .popup-sussess
    .popup-sussess__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
    h3.popup-sussess__title Ihre Nachricht wurde erfolgreich versandt.
    span.popup-sussess__text Wir melden uns umgehend bei lhnen!
//end   popup-success__layer