//begin productcard-pdf-section
section.productcard-pdf-section
  .productcard-pdf
    h2.productcard-pdf__title Präsentation pdf
    p Sie können die Präsentation des Produkts in einem tabellarischen Format herunterladen, so dass es bequem ist, mit anderen Produkten zu drucken und zu vergleichen.
    a(href="#").btn-sm Get Productflayer
//end   productcard-pdf-section