mixin productcard-slider__item(peoples)
  .productcard-slider__item(data-peoples='' + peoples + '')
    a(href="/productcard.html").productcard-slider__link
    .productcard-slider__cover
      a(href='#')
        svg
          use(xlink:href="assets/img/sprite.svg#basket")
        span buy now

    h3.productcard-slider__title Delfi Spa - Nerida
    .productcard-slider__img
      img(src="assets/img/productcard-slider/slide-01.jpg" alt="delfi-spa")
    .productcard-slider__param
      .productcard-slider__param--left
        span.productcard-slider__param--sizes 217 x 217 x 104 cm
        span.productcard-slider__param--persons 4-6 people
      .productcard-slider__param--peoples
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        svg
          use(xlink:href="assets/img/sprite.svg#people")
    .productcard-slider__footer
      .productcard-slider__action
        span.productcard-slider__price-old Aktion 7.990,- &#8364;
        br
        span.productcard-slider__price-new Aktion 5.999,- &#8364;
      .productcard-slider__btn
        svg
          use(xlink:href="assets/img/sprite.svg#plus")


//begin productcard-header
header.productcard-header
  .container
    h2.productcard-header__title Empfohlene Produkte
//end   productcard-header



//begin productcard-slider
section.productcard-slider-section
  .productcard-slider#productcard-slider
    // begin productcard-slider__item--nerida
    .productcard-slider__item(data-peoples='3')
      a(href="productcard-nerida.html").productcard-slider__link
      .productcard-slider__cover
        a(href='#')
          svg
            use(xlink:href="assets/img/sprite.svg#basket")
          span buy now

      h3.productcard-slider__title Delfi Spa - Nerida
      .productcard-slider__img
        img(src="assets/img/productcard-slider/nerida-01.jpg" alt="delfi-spa")
      .productcard-slider__param
        .productcard-slider__param--left
          span.productcard-slider__param--sizes 160 x 210 x 90 cm
          span.productcard-slider__param--persons 3 people
        .productcard-slider__param--peoples
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
      .productcard-slider__footer
        .productcard-slider__action
          span.productcard-slider__price-old Preis 8.429,- &#8364;
          br
          span.productcard-slider__price-new Aktion 5.699,- &#8364;
        .productcard-slider__btn
          svg
            use(xlink:href="assets/img/sprite.svg#plus")
    // end productcard-slider__item--nerida

    // begin productcard-slider__item--marbella
    .productcard-slider__item(data-peoples='5')
      a(href="productcard-marbella.html").productcard-slider__link
      .productcard-slider__cover
        a(href='#')
          svg
            use(xlink:href="assets/img/sprite.svg#basket")
          span buy now

      h3.productcard-slider__title Delfi Spa - Marbella
      .productcard-slider__img
        img(src="assets/img/productcard-slider/marbella-01.jpg" alt="delfi-spa")
      .productcard-slider__param
        .productcard-slider__param--left
          span.productcard-slider__param--sizes 210 x 200 x 93 cm
          span.productcard-slider__param--persons 5 people
        .productcard-slider__param--peoples
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
      .productcard-slider__footer
        .productcard-slider__action
          span.productcard-slider__price-old Preis 10.699,- &#8364;
          br
          span.productcard-slider__price-new Aktion 6.999,- &#8364;
        .productcard-slider__btn
          svg
            use(xlink:href="assets/img/sprite.svg#plus")
    // end productcard-slider__item--marbella

    // begin productcard-slider__item--santorin
    .productcard-slider__item(data-peoples='5')
      a(href="productcard-santorin.html").productcard-slider__link
      .productcard-slider__cover
        a(href='#')
          svg
            use(xlink:href="assets/img/sprite.svg#basket")
          span buy now

      h3.productcard-slider__title Delfi Spa - Santorin
      .productcard-slider__img
        img(src="assets/img/productcard-slider/santorin-01.jpg" alt="delfi-spa")
      .productcard-slider__param
        .productcard-slider__param--left
          span.productcard-slider__param--sizes 230 x 230 x 92 cm
          span.productcard-slider__param--persons 5 people
        .productcard-slider__param--peoples
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
      .productcard-slider__footer
        .productcard-slider__action
          span.productcard-slider__price-old Preis 12.449,- &#8364;
          br
          span.productcard-slider__price-new Aktion 7.499,- &#8364;
        .productcard-slider__btn
          svg
            use(xlink:href="assets/img/sprite.svg#plus")
    // end productcard-slider__item--santorin



      //**************************************
      // ДУБЛИРОВАНИЕ КАРТОЧЕК ТОВАРА
      //**************************************



    // begin productcard-slider__item--nerida
    .productcard-slider__item(data-peoples='3')
      a(href="productcard-nerida.html").productcard-slider__link
      .productcard-slider__cover
        a(href='#')
          svg
            use(xlink:href="assets/img/sprite.svg#basket")
          span buy now

      h3.productcard-slider__title Delfi Spa - Nerida
      .productcard-slider__img
        img(src="assets/img/productcard-slider/nerida-01.jpg" alt="delfi-spa")
      .productcard-slider__param
        .productcard-slider__param--left
          span.productcard-slider__param--sizes 160 x 210 x 90 cm
          span.productcard-slider__param--persons 3 people
        .productcard-slider__param--peoples
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
      .productcard-slider__footer
        .productcard-slider__action
          span.productcard-slider__price-old Preis 8.429,- &#8364;
          br
          span.productcard-slider__price-new Aktion 5.699,- &#8364;
        .productcard-slider__btn
          svg
            use(xlink:href="assets/img/sprite.svg#plus")
    // end productcard-slider__item--nerida

    // begin productcard-slider__item--marbella
    .productcard-slider__item(data-peoples='5')
      a(href="productcard-marbella.html").productcard-slider__link
      .productcard-slider__cover
        a(href='#')
          svg
            use(xlink:href="assets/img/sprite.svg#basket")
          span buy now

      h3.productcard-slider__title Delfi Spa - Marbella
      .productcard-slider__img
        img(src="assets/img/productcard-slider/marbella-01.jpg" alt="delfi-spa")
      .productcard-slider__param
        .productcard-slider__param--left
          span.productcard-slider__param--sizes 210 x 200 x 93 cm
          span.productcard-slider__param--persons 5 people
        .productcard-slider__param--peoples
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
      .productcard-slider__footer
        .productcard-slider__action
          span.productcard-slider__price-old Preis 10.699,- &#8364;
          br
          span.productcard-slider__price-new Aktion 6.999,- &#8364;
        .productcard-slider__btn
          svg
            use(xlink:href="assets/img/sprite.svg#plus")
    // end productcard-slider__item--marbella

    // begin productcard-slider__item--santorin
    .productcard-slider__item(data-peoples='5')
      a(href="productcard-santorin.html").productcard-slider__link
      .productcard-slider__cover
        a(href='#')
          svg
            use(xlink:href="assets/img/sprite.svg#basket")
          span buy now

      h3.productcard-slider__title Delfi Spa - Santorin
      .productcard-slider__img
        img(src="assets/img/productcard-slider/santorin-01.jpg" alt="delfi-spa")
      .productcard-slider__param
        .productcard-slider__param--left
          span.productcard-slider__param--sizes 230 x 230 x 92 cm
          span.productcard-slider__param--persons 5 people
        .productcard-slider__param--peoples
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
      .productcard-slider__footer
        .productcard-slider__action
          span.productcard-slider__price-old Preis 12.449,- &#8364;
          br
          span.productcard-slider__price-new Aktion 7.499,- &#8364;
        .productcard-slider__btn
          svg
            use(xlink:href="assets/img/sprite.svg#plus")
    // end productcard-slider__item--santorin



  .productcard-slider__more
    a(href="catalog.html")
      |Catalogue
      br
      |SPA
      br
      svg
        use(xlink:href="assets/img/sprite.svg#arrow")
//end   productcard-slider