mixin specifications-tab__cards-item(pic, title, text)
  // begin specifications-tab__cards-item
  .specifications-tab__cards-item
    .specifications-tab__cards-img
      img(src='assets/img/specifications/specifications-tab-cards-' + pic + '.jpg' alt="img")
    .specifications-tab__cards-text
      h4.specifications-tab__cards-item-title #{title}
      p #{text}
  // end specifications-tab__cards-item

//begin specifications-tab
section.specifications-tab
  // begin specifications-tab__tabs
  .specifications-tab__tabs
    .specifications-tab__tab.active(data-tab="01")
      span Ausstattung
    .specifications-tab__tab(data-tab="02")
      span Zubehör
    .specifications-tab__tab(data-tab="03")
      span Massagedüsen
    .specifications-tab__tab(data-tab="04")
      span Datenblatt
    .specifications-tab__tab(data-tab="05")
      span Farbenauswahl
  // end specifications-tab__tabs

  // begin specifications-tab__body
  .specifications-tab__body
    //begin specifications-tab__cards--01
    .specifications-tab__cards.specifications-tab__cards--01.active
      .container
        ul.specifications-tab__list
          li Europäisches, edles Design mit eleganten Linien
          li Beleuchtetes Touch-Bedienpanel für max. Bedienkomfort
          li Multilicht LED-Beleuchtung für optische Highlights
          li Kaskaden und einzigartige Lichteffekte für schöne Atmosphäre
          li Mehrstufiges intelligentes ClearCrystal Reinigungssystem
          li Luftsprudelsystem mit warmer Luft und Aromatherapie
          li Hochwertige Hydrotherapie für alle Körperpartien
          li Langlebige Edelstahldüsen in optimaler Anordnung
          li Düsen im Nacken-, Fuß- und Wadenbereich
        ul.specifications-tab__list
          li Wasserdesinfektion durch Ozonsystem mit Einwaschkammer
          li Mehrschichtige 8 mm Acrylwanne mit Hygiene-Bio-Lok®
          li Polaris 4-fach Isolierung mit Dämmplatten und Reflektorfolie
          li Wärmenutzung der Pumpen für geringeren Stromverbrauch
          li Leistungsstarke Titan Heizung 3 kW für lange Badegänge
          li Einhaltung strengster Sicherheits- und Qualitätsstandards
          li Geringe Unterhalts- und Betriebskosten
          li Wartungsarmer Dauerbetrieb
    //end specifications-tab__cards--01

    //begin specifications-tab__cards--02
    .specifications-tab__cards.specifications-tab__cards--02
      .container
        // begin specifications-tab__accessory-item
        .specifications-tab__accessory-item
          .specifications-tab__accessory-img
            img(src='assets/img/specifications/accessories-01.jpg' alt="img")
          .specifications-tab__accessory-text
            p Extra starke Isolierabdeckung
            span + 299 €
        // end specifications-tab__accessory-item
        // begin specifications-tab__accessory-item
        .specifications-tab__accessory-item
          .specifications-tab__accessory-img
            img(src='assets/img/specifications/accessories-02.jpg' alt="img")
          .specifications-tab__accessory-text
            p Einstiegstreppe (Farbe wie Verkleidung)
            span + 199 €
        // end specifications-tab__accessory-item
        // begin specifications-tab__accessory-item
        .specifications-tab__accessory-item
          .specifications-tab__accessory-img
            img(src='assets/img/specifications/accessories-03.jpg' alt="img")
          .specifications-tab__accessory-text
            p Lifter für Abdeckung
            span + 199 €
        // end specifications-tab__accessory-item
        // begin specifications-tab__accessory-item
        .specifications-tab__accessory-item
          .specifications-tab__accessory-img
            img(src='assets/img/specifications/accessories-04.jpg' alt="img")
          .specifications-tab__accessory-text
            p Starter-Paket "Bayrol Pflegeprodukte"
            span + 89 €
        // end specifications-tab__accessory-item
        // begin specifications-tab__accessory-item
        .specifications-tab__accessory-item
          .specifications-tab__accessory-img
            img(src='assets/img/specifications/accessories-05.jpg' alt="img")
          .specifications-tab__accessory-text
            p Wi-fi Upgrade
            span + 315 €
        // end specifications-tab__accessory-item
        // begin specifications-tab__accessory-item
        .specifications-tab__accessory-item
          .specifications-tab__accessory-img
            img(src='assets/img/specifications/accessories-06.jpg' alt="img")
          .specifications-tab__accessory-text
            p Ersatzfilter
            span + 29 €
        // end specifications-tab__accessory-item
    //end specifications-tab__cards--02

    //begin specifications-tab__cards--03
    .specifications-tab__cards.specifications-tab__cards--03
      .container
        header.specifications-tab__cards-header
          h3.specifications-tab__cards-header-title Düsen sind das Herzstück der Delfi Spa
          p Damit der Badevorgang zum Erlebnis wird, müssen sich Massage und Hydrotherapie gut anfühlen und eine starke Massagekraft besitzen. In einem Delfi Spa Outdoor Whirlpool orientiert sich die extra ergonomische Anordnung der Massagedüsen an der menschlichen Anatomie. Für die Individualisierung der Massage sind die meisten Düsen individuell in Stärke und Position verstellbar. Sie massieren, regenerieren und vitalisieren den gesamten Körper.
        .specifications-tab__cards-list
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-01.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 1x Aqua-Rolling Maxi Düse
              p Eine senkrecht wirkende kräftige Maxi-Düse wirbelt einen Wasserstrahl über den kompletten Rückenbereich Ihres Liegesitzes vom unteren Rücken bis hin zum Nacken. Dies erinnert an diekraftvollen Bewegungen eines Masseurs und stimuliert die Blutzirkulation im Körper.
          // end specifications-tab__cards-item
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-02.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 2x RotoTwin Medi Düsen
              p Kreisenden Bewegungen durch Düsen mit doppeltem Wasserstrahl vermindern Verspannungen an den Schulterblättern sowie im Rückenbereich. Sie sorgen für neue Beweglichkeit und ein wunderbares Gefühl derEntspannung.
          // end specifications-tab__cards-item
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-' + pic + '.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 3x RotoTwin Maxi Düsen
              p Düsen mit doppeltem Wasserstrahl sorgen durch ihre Rotation für wunderbare Massagewirkung durch angenehme Wasserströme. Eine entspannende Massage mit kreisenden Bewegungen, die eine tiefer gehende Massagewirkung erzielen.
          // end specifications-tab__cards-item
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-04.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 1x Multimassage (12) Maxi Düsen
              p Kreisenden Bewegungen durch Düsen mit doppeltem Wasserstrahl vermindern Verspannungen an den Schulterblättern sowie im Rückenbereich. Sie sorgen für neue Beweglichkeit und ein wunderbares Gefühl derEntspannung.
          // end specifications-tab__cards-item
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-05.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 8x DirectHydro Mini Düsen
              p Diese Düsen lockern Verspannungen in kleineren Muskelpartien durch eine direkte und kraftvolle Massage. Wir haben diese Düsen für Sie für die Nackenmassage und für die Reflexzonenmassage der Fußsohlen verbaut. Die Stimulation der Massagepunkte hat eine entspannende Wirkung auf den ganzen Körper.
          // end specifications-tab__cards-item
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-06.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 42x DirectHydro Medi Düsen
              p Diese Massageform ist gleichermaßen effektiv auf dem Rücken wie auf den Beinen. Es wird ein konstanter Druck erzeugt, der Verspannungen in größeren Muskelpartien und Gelenken lockert. Ziel der Massage ist, Verspannungen in der rechten und linken Körperseite auszugleichen, die Durchblutung zu fördern und für mehr Ausgewogenheit und Gesundheit zu sorgen.
          // end specifications-tab__cards-item
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-07.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 7x DirectHydro Macro Düsen
              p Für die großflächige Massage des Rückens werden meist Düsen mit größeren Öffnungen und einem hohen Wasserdurchfluss eingesetzt. Solche großflächigen Whirlpool-Düsen haben zudem den Effekt, eine tiefergehende Massagewirkung zu erzielen.
          // end specifications-tab__cards-item
          // begin specifications-tab__cards-item
          .specifications-tab__cards-item
            .specifications-tab__cards-img
              img(src='assets/img/specifications/specifications-tab-cards-08.jpg' alt="img")
            .specifications-tab__cards-text
              h4.specifications-tab__cards-item-title 10x LuftDüsen
              p Genießen Sie diese sanfte, vitalisierende Luftsprudelmassage mit vorgewärmter Luft, tausende von Luftblasen legen Ihre Beine in Schwerelosigkeit, um Ihren Körper zu entspannen und zu regenerieren. Diese sanfte Ganzkörpermassage vitalisiert den Organismus und Sie gewinnen neue Energie.
          // end specifications-tab__cards-item
    //end specifications-tab__cards--03

    //begin specifications-tab__cards--04
    .specifications-tab__cards.specifications-tab__cards--04
      .container
        // begin table-01
        table
          tr
            td Name
            td Nerida
          tr
            td Beschreibung
            td Nerida - alle Vorteile eines großen Whirlpools, konzentriert im platzsparenden Modell.
          tr
            td Preis
            td ab 8.429 € *
          tr
            td Abmessungen
            td 210 x 160 x 90 cm
          tr
            td Personen
            td 3
          tr
            td Sitzplätze + Liegeplätze
            td 1 + 2
          tr
            td Leergewicht
            td 280 kg
          tr
            td Wasserfüllmenge
            td 950 l
          tr
            td Wasser-Massagedüsen aus Edelstahl
            td 64
          tr
            td Wärmedämmung
            td 3-fach Isolierung: - Wanne mit 25 mm hight-density foam
          tr
            td Wannenmaterial und Stärke
            td Acryl Aristech (USA) – mehrschichtig mit 8 mm
          tr
            td Außenverkleidung
            td Langlebig und wartungsfrei
          tr
            td Bedien- und Heizungssystem
            td Balboa (USA)
          tr
            td Heizung
            td 1 x 3 KW
          tr
            td Wasserpumpe (für Düsen)
            td 2 x 3 PS
          tr
            td Desinfektionssystem
            td Ozonator mit Mischkammer
          tr
            td Filterung
            td 1x Kartuschenfilter
        // end table-01

        // begin table-02
        table
          tr
            td Skimmer
            td 1
          tr
            td Zirkulationspumpe
            td 1 x 0,5 PS
          tr
            td Druckluftpumpe (Blower)
            td 1 x 400W
          tr
            td Luftdüsen
            td 10
          tr
            td Verstellventile
            td 3
          tr
            td LED Bedienfeld
            td Ja
          tr
            td Beleuchtung
            td 15 x LED excellance
          tr
            td Wasserfall mit LED
            td 1
          tr
            td Farblichttherapie
            td Ja
          tr
            td Aromatherapie
            td Ja
          tr
            td Kopfstützen
            td 2 x Luxe, hinterleuchtet
          tr
            td Stützkonstruktion
            td Aus rostfreiem Edelstahl
          tr
            td Frostschutz
            td Automatisch
          tr
            td Heizen und Desinfizieren
            td Zeitgesteuert
          tr
            td Stromanschluss
            td 400V, 3x 16A
          tr
            td Wasserdichte Hülle für Ihren Whirlpool
            td Ja
          tr
            td Abfluss im Wannenboden
            td Ja
          tr
            td ABS Unterbau
            td Ja
        // end table-02
    //end specifications-tab__cards--04

    //begin specifications-tab__cards--05
    .specifications-tab__cards.specifications-tab__cards--05
      .container
        header.specifications-tab__colors-header
          h3.specifications-tab__colors-header-title Color swatches for hot tubs

        .specifications-tab__colors-list
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-01.jpg" alt="color")
            h4.specifications-tab__colors-title L-202
              span /
              strong Dark Blue
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-02.jpg" alt="color")
            h4.specifications-tab__colors-title L-202
              span /
              strong Sky Blue
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-03.jpg" alt="color")
            h4.specifications-tab__colors-title L-213
              span /
              strong Sky White
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-04.jpg" alt="color")
            h4.specifications-tab__colors-title L-215
              span /
              strong Green
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-05.jpg" alt="color")
            h4.specifications-tab__colors-title L-313
              span /
              strong Pearl Shadow
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-06.jpg" alt="color")
            h4.specifications-tab__colors-title L-316
              span /
              strong Light Blue
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-07.jpg" alt="color")
            h4.specifications-tab__colors-title L-501
              span /
              strong Pearl White
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-08.jpg" alt="color")
            h4.specifications-tab__colors-title L-728
              span /
              strong Glitter Silver
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-09.jpg" alt="color")
            h4.specifications-tab__colors-title L-730
              span /
              strong Glitter Gold
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-10.jpg" alt="color")
            h4.specifications-tab__colors-title L-733
              span /
              strong Crystal Blue
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-11.jpg" alt="color")
            h4.specifications-tab__colors-title L-735
              span /
              strong Crystal Black
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-12.jpg" alt="color")
            h4.specifications-tab__colors-title L-746
              span /
              strong Glitter Coffee
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-13.jpg" alt="color")
            h4.specifications-tab__colors-title L-901
              span /
              strong White
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-14.jpg" alt="color")
            h4.specifications-tab__colors-title L-958
              span /
              strong Grey

        header.specifications-tab__colors-header
          h3.specifications-tab__colors-header-title Cabinet (skirt) colors

        .specifications-tab__colors-list
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-15.jpg" alt="color")
            h4.specifications-tab__colors-title PS-2
              span /
              strong Grey

          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-16.jpg" alt="color")
            h4.specifications-tab__colors-title PS-1
              span /
              strong Coffee

          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-17.jpg" alt="color")
            h4.specifications-tab__colors-title PS-4
              span /
              strong Black

        header.specifications-tab__colors-header
          h3.specifications-tab__colors-header-title Cover colors

        .specifications-tab__colors-list
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-18.jpg" alt="color")
            h4.specifications-tab__colors-title C-02
              span /
              strong Grey
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-19.jpg" alt="color")
            h4.specifications-tab__colors-title C-08
              span /
              strong Coffee
          .specifications-tab__colors-item
            .specifications-tab__colors-pic
              img(src="assets/img/colors/color-20.jpg" alt="color")
            h4.specifications-tab__colors-title C-01
              span /
              strong Black
    //end specifications-tab__cards--05
  // end specifications-tab__body
//end   specifications-tab
