mixin top-slider-row()
  .top-slider__text-row
    .top-slider__text-item.top-slider__text-item--title
      h2.top-slider__text-title Mehr Lebensqualität mit vielen Highlights
    .top-slider__text-item.top-slider__text-item--text
      p Heutzutage wächst zunehmend das Bedürfnis, Körper und Geist zu entspannen.  Unsere Infrasun- Infrarotkabinen lösen Verspannungen, wirken gegen die typischen Stresssymptome und tragen zu mehr Energie und Wohlbefinden in Ihrem Alltag bei.
      a(href="#").top-slider__link-mehr.btn-sm Mehr info
    a(href="#").top-slider__text-item.top-slider__text-item--link
      .top-slider__next-link
        span.top-slider__next-link--sm Choise your spa
        span.top-slider__next-link--lg All models
      .top-slider__next-arrow
        svg
          use(xlink:href="assets/img/sprite.svg#arrow")

//begin top-section
section.top-section
  .top-slider#top-slider
    .top-slider__slide(style="background-image:url('assets/img/top-slider/slide-01.jpg')")
      +top-slider-row()
    .top-slider__slide(style="background-image:url('assets/img/top-slider/slide-02.jpg')")
      +top-slider-row()
    .top-slider__slide(style="background-image:url('assets/img/top-slider/slide-03.jpg')")
      +top-slider-row()
    .top-slider__slide(style="background-image:url('assets/img/top-slider/slide-04.jpg')")
      +top-slider-row()
//end   top-section