extends ../_template

block variables
  - var title = 'Article | Delfi Spa'
  - var pageHeaderTitle = 'Article'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.article-01
    //begin article-01-header
    header.article-01-header(style="background-image:url('assets/img/bg-article-01-header.jpg')")
      include ../elements/breadcrumbs-light
      h2.article-01-header__title Umweltgedanke beim modernen Whirlpool
    //end article-01-header

    //begin article-01-article
    section.article-01-article
      .container
        .article-01-article__row.article-01-article__row--text
          p Whirlpool Das Klima unterliegt in Deutschland deutlichen Schwankungen. Aufzeichnungen des Deutschen Wetterdienstes belegen Temperaturen von -25 bis +40 Grad. Die Whirlpools von Delfi Spa sind optimal für unsere kalten winterlichen Bedingungen geeignet. Laufende Pumpen und Heizstäbe erzeugen im Innenraum des Whirlpools Temperaturen von ca. 40 Grad, diese Wärme wird an das Wasser des Whirlpools weiter gegeben und dient somit zusätzlich zu dessen Erwärmung.
        .article-01-article__row.article-01-article__row--left
          .article-01-article__item-pic
            img(src="assets/img/article-01-pic-01.jpg" alt="delfi spa")
          .article-01-article__item-text
            p Delfi Spa steht für Wärmekonservierung und damit einen minimalen Verbrauch an Energie. Delfi Spa setzt für seine Wasseraufbereitung das ClearCrystal Reinigungssystem ein. Dieses System arbeitet mit umweltfreundlichen Technologien, basierend auf Ozon.
            p Diese Art der Wasseraufbereitung erlaubt eine Wasserreinigung mit weniger chemischen Produkten.
        .article-01-article__row.article-01-article__row--right
          .article-01-article__item-pic
            img(src="assets/img/article-01-pic-02.jpg" alt="delfi spa")
          .article-01-article__item-text
            p Wartungszugänge auf allen Seiten und freiliegende Technik findet man nicht in vielen herkömmlichen Whirlpools – dort ist der Innenraum oft komplett vollgeschäumt, was gravierende Nachteile im Falles einer Leckage oder eine technischen Fehlers haben kann. Die Wartung von Schläuchen und Düsen ist in diesem Fall sehr mühsam, Schaum muss entfernt und fachgerecht entsorgt werden. Oft muss sehr viel Schaum entfernt werden, da das Problem nicht auf Anhieb zu sehen ist. Dieser alte Schaum muss entsorgt werden und dann wieder durch einen Neuen ersetzt werden. Das ist nicht nur mit Kosten verbunden, sondern erzeugt natürlich immer wieder unnötig Müll.

    //end   article-01-article

    include ../sections/tips-slider

  //end content

  include ../sections/footer