extends ../_template

mixin tips-slider__item(pic, title)
  a(href="#").tips-slider__item
    .tips-slider__img
      img(src='assets/img/tips-slider/slide-' + pic + '.jpg' alt='delfi-spa')
      .tips-slider__footer
        .tips-slider__title
          span #{title}
        span.tips-slider__link
          svg
            use(xlink:href="assets/img/sprite.svg#plus")

block variables
  - var title = 'Article | Delfi Spa'
  - var pageHeaderTitle = 'Article'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'blog'
  - var breadcrumbs03 = 'Article'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.article-02
    //begin article-02-header
    header.article-02-header(style="background-image:url('assets/img/bg-article-02-header.jpg')")

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="blog.html") #{breadcrumbs02}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs03}
      //end breadcrumbs

      h2.article-02-header__title Kaufberatung Wichtige Tipps
    //end article-02-header

    //begin article
    section.article
      .container
        .article__row.article__row--text
          p Wie Ihnen erging es schon vielen: Sie sind auf der Suche nach einem modernen Garten-, Außen- bzw. Outdoor-Whirlpool und da tauchen erst einmal viele Fragen auf, bevor Sie ins Vergnügen eintauchen können. Schließlich ist ein Whirlpool eine Investition in eine Entspannungs- und Wellness-Oase, wo Sie und Ihre Lieben gerne Zeit verbringen und der Sie wenig Zeit und Geld bei Pflege und Wartung kosten soll.
        .article__row.article__row--left
          .article__item-pic
            img(src="assets/img/article/article-03.jpg" alt="delfi spa")
          .article__item-text
            h3.article__item-title Der richtige Platz
            p Das ist sicher eine der einfacheren Fragen. Bei der Wahl des Aufstellorts gilt: nichts ist unmöglich. Ein Standort, der ohne Kraneinsatz erreichbar ist, spart aber leicht einige hundert Euro. Wenn Sie Ihren Pool ganz oder teilweise in den Boden einlassen wollen, berücksichtigen Sie dabei, dass rundherum genügend Platz bleibt, damit auch in vielen Jahren einmal Komponenten ausgetauscht oder repariert werden können. Die günstigste Lösung ist die ebenerdige Platzierung mit einer Treppe als Einstiegshilfe.
        .article__row.article__row--right
          .article__item-pic
            img(src="assets/img/article/article-04.jpg" alt="delfi spa")
          .article__item-text
            h3.article__item-title Komfort & Extras
            p Massage und Hydrotherapie müssen sich gut anfühlen. Es sollten mehrere Düsen-Konfigurationen verbaut sein, so dass Sie von Sitz zu Sitz unterschiedliche Massageerlebnisse erhalten. Außerdem sollten der Massagedruck und die Durchflussmenge so zu regulieren sein, dass Sie für jeden Sitz das optimale und gewünschte Massageerlebnis individuell einstellen können. Die ergonomisch geformten Liegen und Sitze müssen besonders bequem und entspannend sein, sodass sich die Wirkung der Hydrotherapie voll entfalten kann. Dann wirken Massagen im warmen Whirlpoolwasser bei jedem Körperbau, jeder Körpergröße und jedem Stresslevel.

      //begin article-banner
      section.article-banner
        .container
          .article__row.article__row--left
            .article__item-pic
            .article__item-text
              h3.article__item-title Technik & Bauform
              p In unseren Breitengraden sind Whirlpools, die in Kalifornien gebaut sind, meist unzureichend isoliert. Achten Sie auf ausreichend Schutz vor Kälte, Witterung und Kleintieren. Bestehen Sie beim Kauf darauf, auch in den Pool hineinschauen zu dürfen, damit Sie die Qualität der inneren Verarbeitung bewerten können. Das Acryl der Wanne sollte auf jeden Fall hochwertig sein, damit durch Sonne und UV-Strahlung mit den Jahren keine strukturellen Änderungen entstehen. Beim Baden ist ein angenehmes Hautgefühl von einem hochwertigen Acryl sehr angenehm. Vermeiden Sie auch Holzböden, die weniger resistent gegen Feuchtigkeit und Insekten sind, als Kunststoffböden.
      //end   article-banner

      .container
        .article__row.article__row--right
          .article__item-pic
            img(src="assets/img/article/article-05.jpg" alt="delfi spa")
          .article__item-text
            h3.article__item-title Energie sparen
            p Natürlich kann das Badewasser Ihres Whirlpools nicht zum Nulltarif das ganze Jahr über zum Baden bereit sein. Wichtig ist eine besonders gute Isolierung und optimal ist es, wenn die Abwärme von Pumpen und Heizung zum Aufheizen des Wassers und der Whirlpoolschale genutzt wird. Eine zusätzlichen Aluminiumfolie reflektiert im Idealfall die Wärme und hält sie somit im Innenraum. Die Normalnutzung eines Whirlpools von 1.000 Litern verursacht bei sehr guter Isolierung wie bei den Delfi Spa durchschnittlich lediglich Stromkosten von 1,- €/Tag.
        .article__row.article__row--left
          .article__item-pic
            img(src="assets/img/article/article-06.jpg" alt="delfi spa")
          .article__item-text
            h3.article__item-title Wartung & Pflege
            p Richtige Wartung und Pflege schützt Ihre Investition. Sie sollte aber einfach und nicht zu zeitintensiv sein. Wichtig ist deshalb, dass alle Komponenten leicht zugänglich und nicht eingeschäumt sind. Die Technik Ihres Whirlpools sollte Komponenten zur Reinigung und Desinfektion des Wassers enthalten, z.B. ein Ozon-System. Für eine gute Wasserqualität über einen langen Zeitraum ist aber nicht nur die Technik ausschlaggebend. Eine effiziente und auf Ihr Badeverhalten abgestimmte Wasserpflege sollte stets Teil einer guten Beratung sein. Damit sparen Sie Zeit und Geld und können Ihren Whirlpool über lange Jahre optimal nutzen.
    //end   article

    //begin article-heart
    section.article-heart
      .container
        svg
          use(xlink:href="assets/img/sprite.svg#heart")
        span Wir wünschen Ihnen viel Erfolg bei der Suche Ihres Traum-Whirlpools.
    //end   article-heart

    include ../sections/tips-slider

  //end content

  include ../sections/footer
  include ../sections/scripts
