extends ../_template

mixin blog-item(pic, title)
  a(href="#").blog-item
    .blog-item__img
      img(src='assets/img/blog/blog-' + pic + '.jpg' alt='delfi-spa')
      .blog-item__footer
        .blog-item__title
          span #{title}
        span.blog-item__link
          svg
            use(xlink:href="assets/img/sprite.svg#plus")

block variables
  - var title = 'Blog | Delfi Spa'
  - var pageHeaderTitle = 'Blog'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'blog'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.blog
    //begin article-01-header
    header.blog-header

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs02}
      //end breadcrumbs

      h2.blog-header__title
        |TIPPS rund um
        br
        |Ihren Whirlpool
      p Wir bieten Ihnen eine umfangreiche Modellauswahl von Whirlpools, die Ihren individuellen Wünschen und Bedürfnissen entsprechen werden, Sie können aus einer Vielzahl von Modellen mit den unterschiedlichsten Ausstattungen auswählen. Bei uns finden Sie das Modell, das zu Ihnen passt und Ihren Wünschen entspricht. Unsere beliebtesten Modelle sind schnell direkt ab Lager verfügbar.
    //end article-01-header


    //begin blog-list
    section.blog-list
      +blog-item('01', 'Kaufberatung Wichtige Tipps')
      +blog-item('02', 'Lieferung, Montage und Kundendienst bundesweit')
      +blog-item('03', 'Überblick über einmalige und fortlaufende Kosten')
      +blog-item('04', 'Umweltgedanke beim modernen Whirlpool ')
      +blog-item('05', 'Bequeme Finanzierung Teilzahlung, Ratenzahlung')
      +blog-item('03', 'Überblick über einmalige und fortlaufende Kosten')
      +blog-item('04', 'Umweltgedanke beim modernen Whirlpool ')
      +blog-item('05', 'Bequeme Finanzierung Teilzahlung, Ratenzahlung')
      +blog-item('01', 'Kaufberatung Wichtige Tipps')
      +blog-item('02', 'Lieferung, Montage und Kundendienst bundesweit')

    //end   blog-list

  //end content

  include ../sections/footer
  include ../sections/scripts