extends ../_template

mixin catalog-item(peoples)
  .catalog-item(data-peoples='' + peoples + '')
    .catalog-item__cover
      button
        svg
          use(xlink:href="assets/img/sprite.svg#basket")
        span buy now

    h3.catalog-item__title Delfi Spa - Nerida

    .catalog-item__img
      img(src="assets/img/catalog/item-01.jpg" alt="delfi spa")

    .catalog-item__specifications
      .catalog-item__specifications--left
        span.catalog-item__size 217 x 217 x 104 cm
        span.catalog-item__injectors Massagedüsen: 69
      .catalog-item__specifications--right
        .catalog-item__peoples
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")
          svg
            use(xlink:href="assets/img/sprite.svg#people")

    .catalog-item__price
      .catalog-item__price--left
        span.catalog-item__price-old Preis: 7.990,- €
        span.catalog-item__price-new Aktion 5.999,- €
      .catalog-item__price--right
        //button.catalog-item__compare
          svg
            use(xlink:href="assets/img/sprite.svg#arrows")
        .catalog-item__more
          svg
            use(xlink:href="assets/img/sprite.svg#plus")


block variables
  - var title = 'Catalog | Delfi Spa'
  - var pageHeaderTitle = 'Catalog'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.catalog
    //begin catalog-header
    header.catalog-header
      include ../elements/breadcrumbs
      h2.catalog-header__title Catalogue SPA Pools
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    //end catalog-header

    //begin catalog
    section.catalog-body
      //begin catalog-filter
      .catalog-filter
        form.catalog-form
          .catalog-form__row
            h2.catalog-filter__title Filter
            h3.catalog-form__title Sortieren nach:

            //begin catalog-form__sort-by
            .catalog-form__sort-by
              input(type='radio' name='sort-by' id='sort-by-price')
              label(for='sort-by-price')
                span Zu einem Preis
              input(type='radio' name='sort-by' id='sort-by-popular' checked)
              label(for='sort-by-popular')
                span Beliebtheit
            //end catalog-form__sort-by

            // begin catalog-form__by-stock
            .catalog-form__by-stock
              label
                input(type='checkbox')
                .catalog-form__by-stock-input
                span Nur Artikel auf Lager
            // end catalog-form__by-stock

          .catalog-form__row
            h3.catalog-form__title Preis:
            .catalog-form__price-wrap
              input(id="minPriceCost" value="0")
              input(id="maxPriceCost" value="40000")
              .catalog-form__price#catalog-form__price

          .catalog-form__row
            h3.catalog-form__title Größe auf der längsten:
            .catalog-form__size-wrap
              input(id="minSizeCost" value="0")
              input(id="maxSizeCost" value="4")
              .catalog-form__size#catalog-form__size

          .catalog-form__row
            h3.catalog-form__title Massageplätze:
            .catalog-form__persons-wrap
              input(id="maxPersonsCost" value="0")
              .catalog-form__persons#catalog-form__persons
              .catalog-form__persons-people(data-peoplesfilter='1')
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")

          .catalog-form__row
            .catalog-form__reset
              svg
                use(xlink:href="assets/img/sprite.svg#reset")
              input(type="reset" value="Zurücksetzen" onclick='resetSlider();')
      //end catalog-filter

      //begin catalog-list
      .catalog-list
        +catalog-item('1')
        +catalog-item('2')
        +catalog-item('3')
        +catalog-item('4')
        +catalog-item('5')
        +catalog-item('6')
        +catalog-item('7')
        +catalog-item('8')
      //end catalog-list
    //end   catalog


  //end content

  include ../sections/footer
  include ../sections/scripts
