extends ../_template

mixin faq-accordion__row(title)
  .faq-accordion__row
    .container
      .faq-accordion__header
        .faq-accordion__btn
        h3.faq-accordion__quest #{title}
      .faq-accordion__answer
        p Durch die Wärme und die massierende Wirkung der Düsen werden der Stoffwechsel und die Durchblutung angeregt, beim Eintauchen des Körpers in einen Whirlpool verringert sich die Schwerkraft, dadurch können Probleme mit Muskulatur und Gelenken gelindert werden. Die regelbaren rotierenden und feststehenden Wasserdüsen in Ihrem Delfi Spas Whirlpool garantieren eine sanfte bis kraftvolle Massage.



block variables
  - var title = 'FAQ | Delfi Spa'
  - var pageHeaderTitle = 'FAQ'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'Unsere Fachgeschäfte'
  - var breadcrumbs03 = 'berlin'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.faq
    //begin faq-header
    header.faq-header(style="background-image:url('assets/img/bg-faq-header.jpg')")

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs02}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs03}
      //end breadcrumbs

      h2.faq-header__title Fragen und Antworten
      p.faq-header__subtitle
        |Hier finden Sie Antworten auf die am häufigsten gestellten Fragen.
        br
        |Falls Ihre Fragen hier nicht beantwortet sind, nehmen Sie bitte mit uns Kontakt auf.
    //end faq-header
      
    //begin faq-accordion
    section.faq-accordion
      +faq-accordion__row('Wie finde ich einen qualitativ guten Whirlpool?')
      +faq-accordion__row('Was ist Hydrotherapie?')
      +faq-accordion__row('Sind die Düsen verstellbar?')
      +faq-accordion__row('Wie funktioniert die Anlieferung?')
      +faq-accordion__row('Wo kann ich den Whirlpool aufstellen?')
      +faq-accordion__row('Was bedeutet Vollausschäumung?')
      +faq-accordion__row('Wie oft sollte ich den Whirlpool leeren und reinigen?')
      +faq-accordion__row('Benötige ich ein Ozon-Reinigungs-System?')
      +faq-accordion__row('Wodurch hebt sich Delfi Spas von anderen Whirlpool Herstellern ab?')
      +faq-accordion__row('Muss mein Whirlpool regelmäßig gewartet werden?')
    //end   faq-accordion


  //end content

  include ../sections/footer
  include ../sections/scripts