extends ../_template

block variables
  - var title = 'Delfi Spa'

block content
  include ../sections/aside-left
  include ../sections/header-main

  //begin content
  section.main.index
    include ../sections/top-section
    include ../sections/index-text
    include ../sections/catalog-slider
    include ../sections/index-banner
    include ../sections/index-about
    include ../sections/index-reviews
    include ../sections/tips-slider

  //end content

  include ../sections/footer
  include ../sections/scripts