extends ../_template

block variables
  - var title = 'Delfi Spa'

block content
  include ../sections/header
  
  //begin content
  section.main(style='background-color:#ccc;')
  //end content

  include ../sections/footer