extends ../_template

block variables
  - var title = 'Stellenausschreibung | Delfi Spa'
  - var pageHeaderTitle = 'Stellenausschreibung'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'Stellenausschreibung'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.text-page
    .container
      //begin header
      header.text-page__header
        //begin breadcrumbs
        section.breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/") #{breadcrumbs01}
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#") #{breadcrumbs02}
        //end breadcrumbs

        h2.text-page__title Stellenausschreibung
        p Zur Verstärkung unseres Teams suchen wir einen
      //end brand-header


      //begin text-page__content
      section.text-page__content
        h5 Kundenservicetechniker (m/w)
        h5 Ihre Aufgaben:

        ul
          li Überprüfung, Reparatur und Wartung von Whirlpools, Massagesesseln und Infrarotkabinen
          li Technische Kundenbetreuung und Beratung vor Ort
          li Verwaltung des Ersatzteilbestandes

        h5 Ihr Profil:
        ul
          li Abgeschlossene technische Berufsausbildung (z.B. Elektriker, Anlagenmechaniker) mit mehrjähriger Berufserfahrung
          li Selbstständige und kundenorientierte Arbeitsweise
          li Zuverlässigkeit und Flexibilität
          li Führerschein der Klasse B sowie Reisebereitschaft
          li Englischkenntnisse von Vorteil
        h5 Unser Angebot:
        ul
          li Eine abwechslungsreiche Aufgabe mit einem hohen Maß an Selbständigkeit
          li Eine leistungsorientierte sehr gute Vergütung
          li Modernes und vollausgestattetes Servicefahrzeug
          li Ein nettes Team mit Freude am Umgang Menschen und Begeisterung für Hight-Tech-Wellnesprodukte
          li Unbefristete Anstellung an einem sicheren Arbeitsplatz
          li Intensive Einarbeitung und Schulung
        p Haben wir Ihr Interesse geweckt?

        p Schicken Sie uns Ihre aussagekräftigen Bewerbungsunterlagen per E-Mail an job@4-deluxe.de oder an die unten angegebene Adresse. Wir freuen uns auf Ihre Bewerbung!
        p
          |4Deluxe GmbH
          br
          |Erlenstrasse 1
          br
          |12167 Berlin-Steglitz
          br
          |Tel.: 030-61674114 (Ansprechpartnerin Julia Hoffmann)
          br
          a(href="mailto:job@4-deluxe.de") job@4-deluxe.de
          br
          a(href="www.4-deluxe.de") www.4-deluxe.de

      //end   text-page__content
      

  //end content

  include ../sections/footer
  include ../sections/scripts