extends ../_template

block variables
  - var title = 'Catalogue | Delfi Spa'
  - var pageHeaderTitle = 'Catalogue'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs03 = 'Catalog'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.catalog
    //begin catalog-header
    header.catalog-header

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs03}
      //end breadcrumbs

      h2.catalog-header__title Catalogue SPA Pools
      p Wir bieten Ihnen eine umfangreiche Modellauswahl von Whirlpools, die Ihren individuellen Wünschen und Bedürfnissen entsprechen werden, Sie können aus einer Vielzahl von Modellen mit den unterschiedlichsten Ausstattungen auswählen. Bei uns finden Sie das Modell, das zu Ihnen passt und Ihren Wünschen entspricht. Unsere beliebtesten Modelle sind schnell direkt ab Lager verfügbar.
    //end catalog-header

    //begin catalog
    section.catalog-body
      //begin catalog-filter
      .catalog-filter
        .catalog-form
          .catalog-form__row
            h2.catalog-filter__title Filter
            h3.catalog-form__title Sortieren nach:

            //begin catalog-form__sort-by
            .catalog-form__sort-by
              a(href="#" data-type='price').catalog-form__sort-by-link
                span Zu einem Preis
              a(href="#" data-type='popular').catalog-form__sort-by-link.active
                span Beliebtheit
            //end catalog-form__sort-by

            // begin catalog-form__by-stock
            .catalog-form__by-stock#catalog-form__by-stock
              label
                input(type='checkbox')
                .catalog-form__by-stock-input
                span Nur Artikel auf Lager
            // end catalog-form__by-stock

          .catalog-form__row
            h3.catalog-form__title Preis:
            .catalog-form__price-wrap
              input(id="minPriceCost" value="5500")
              input(id="maxPriceCost" value="13000")
              .catalog-form__price#catalog-form__price

          .catalog-form__row
            h3.catalog-form__title Größe auf der längsten:
            .catalog-form__size-wrap
              input(id="minSizeCost" value="2")
              input(id="maxSizeCost" value="2.5")
              .catalog-form__size#catalog-form__size

          .catalog-form__row
            h3.catalog-form__title Massageplätze:
            .catalog-form__persons-wrap
              input(id="maxPersonsCost" value="0")
              .catalog-form__persons#catalog-form__persons
              .catalog-form__persons-people(data-peoplesfilter='0')
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")

          .catalog-form__row
            .catalog-form__reset
              //button(onclick='resetSlider();') Zurücksetzen
              input(type="reset" value="Zurücksetzen" onclick='resetSlider();')
              svg
                use(xlink:href="assets/img/sprite.svg#reset")
      //end catalog-filter

      //begin catalog-list
      .catalog-list

        // begin Marbella card
        .catalog-item(data-peoples='5', data-price='6999', data-size='2.1', data-stock='1', data-popular='1')
          a(href="productcard-marbella.html").catalog-item__link
          .catalog-item__cover
            a(href="order.html" data-btn='Marbella').catalog-item__cover-link
              svg
                use(xlink:href="assets/img/sprite.svg#basket")
              span buy now

          h3.catalog-item__title Delfi Spa - Marbella

          .catalog-item__img
            img(src="assets/img/catalog/item-01.jpg" alt="delfi spa")

          .catalog-item__specifications
            .catalog-item__specifications--left
              span.catalog-item__size 210 x 200 x 93 cm
              span.catalog-item__injectors Massagedüsen: 77
            .catalog-item__specifications--right
              .catalog-item__peoples
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")

          .catalog-item__price
            .catalog-item__price--left
              span.catalog-item__price-old Preis: 10.699,- €
              span.catalog-item__price-new Aktion 6.999,- €
            .catalog-item__price--right
              //button.catalog-item__compare
                svg
                  use(xlink:href="assets/img/sprite.svg#arrows")
              .catalog-item__more
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
        // end Marbella card


        // begin Santorin card
        .catalog-item(data-peoples='5', data-price='7499', data-size='2.3', data-stock='1', data-popular='3')
          a(href="productcard-santorin.html").catalog-item__link
          .catalog-item__cover
            a(href="order.html" data-btn='Santorin').catalog-item__cover-link
              svg
                use(xlink:href="assets/img/sprite.svg#basket")
              span buy now

          h3.catalog-item__title Delfi Spa - Santorin

          .catalog-item__img
            img(src="assets/img/catalog/item-01.jpg" alt="delfi spa")

          .catalog-item__specifications
            .catalog-item__specifications--left
              span.catalog-item__size 230 x 230 x 92 cm
              span.catalog-item__injectors Massagedüsen: 85
            .catalog-item__specifications--right
              .catalog-item__peoples
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")

          .catalog-item__price
            .catalog-item__price--left
              span.catalog-item__price-old Preis: 12.449,- €
              span.catalog-item__price-new Aktion 7.499,- €
            .catalog-item__price--right
              //button.catalog-item__compare
                svg
                  use(xlink:href="assets/img/sprite.svg#arrows")
              .catalog-item__more
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
        // end Santorin card


        // begin Nerida card
        .catalog-item(data-peoples='3', data-price='5699', data-size='2.1', data-stock='1', data-popular='5')
          a(href="productcard-nerida.html").catalog-item__link
          .catalog-item__cover
            a(href="order.html" data-btn='Nerida').catalog-item__cover-link
              svg
                use(xlink:href="assets/img/sprite.svg#basket")
              span buy now

          h3.catalog-item__title Delfi Spa - Nerida

          .catalog-item__img
            img(src="assets/img/catalog/item-01.jpg" alt="delfi spa")

          .catalog-item__specifications
            .catalog-item__specifications--left
              span.catalog-item__size 160 x 210 x 90 cm
              span.catalog-item__injectors Massagedüsen: 69
            .catalog-item__specifications--right
              .catalog-item__peoples
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                svg
                  use(xlink:href="assets/img/sprite.svg#people")

          .catalog-item__price
            .catalog-item__price--left
              span.catalog-item__price-old Preis: 8.429,- €
              span.catalog-item__price-new Aktion 5.699,- €
            .catalog-item__price--right
              //button.catalog-item__compare
                svg
                  use(xlink:href="assets/img/sprite.svg#arrows")
              .catalog-item__more
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
        // end Nerida card

      //end catalog-list
    //end   catalog


  //end content

  include ../sections/footer
  include ../sections/scripts
