extends ../_template

block variables
  - var title = 'News & Aktionen | Delfi Spa'
  - var pageHeaderTitle = 'News & Aktionen'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'News & Aktionen'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.blog
    //begin article-01-header
    header.blog-header

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs02}
      //end breadcrumbs

      h2.blog-header__title News & Aktionen
      p Neueste Info sind auf dem Weg ... wir bitten um etwas Geduld!
    //end article-01-header




  //end content

  include ../sections/footer
  include ../sections/scripts