extends ../_template

block variables
  - var title = 'Ihre Bestellanfrage | Delfi Spa'
  - var pageHeaderTitle = 'Ihre Bestellanfrage'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'Ihre Bestellanfrage'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.order
    //begin order-header
    header.order-header

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs02}
      //end breadcrumbs

      h2.order-header__title Ihre Bestellanfrage
    //end order-header


    //begin order-block
    section.order-block
      .container
        .order-block__right
          h3.order-block__title Vielen Dank für Ihre Anfrage und Ihr Interesse
          p Sie erahnen wohl, für welch wunderbares Produkt Sie sich entschieden haben. Für eine unverbindliche Bestellanfrage füllen Sie bitte die folgenden Angaben aus und klicken Sie auf „Senden“. Wir werden uns baldmöglichst mit Ihnen in Verbindung setzten!
          table.order-block__table
            tr
              td Telefonische Beratung
              td 0800 - 58 95 287
                span (kostenfreie Beratungshotline)
            tr
              td Faxkontakt
              td 030 - 616 7 4116
                span (Fax)
            tr
              td E-mail
              td
                a(href="mailto:info@4-deluxe.de") info@4-deluxe.de
    //end   order-block

    //begin order-form
    section.order-form
      .container
        h2.order-form__title Kontaktanfrage Infrasun Infrarotkabinen
        form.order-form__form#order-form(name="order-form")
          .order-form__inputs-item
            input(name='name' minlength="3" placeholder="Name, Vorname *" required)
            input(name="plz" placeholder="PLZ, Ort")

          .order-form__inputs-item
            input(name="email" placeholder='Email*' required)
            input(name="telefon" minlength="11" placeholder="Telefon *" required)


          .order-form__inputs-item
            input(name="strabe" placeholder="Straße, Hausnummer")
            .order-select-wrap.custom-select__wrap.custom-select__wrap--model.custom-select__wrap--light
              span.order-form__selectbox-text Modellauswahl:
              select.order-select.order-select--model.custom-select(name='model')
                option(value='Nerida' selected) Nerida
                option(value='Marbella') Marbella
                option(value='Santorin') Santorin


          .order-form__selectbox-row
            .order-form__selectbox-item.order-form__selectbox-item--color
              span.order-form__selectbox-text Wannenfarbe Acryl:
              .order-select-wrap.custom-select__wrap.custom-select__wrap--light
                select#select-color.order-select.custom-select(name='acril')
                  option(value="Silver White Marble" selected) Silver White Marble
                  option(value="White Pearlescent") White Pearlescent
                  option(value="Summer Sapphire") Summer Sapphire
                  option(value="Midnight Opal") Midnight Opal
                  option(value="Azure Metalescent") Azure Metalescent
                  option(value="Gypsum") Gypsum
                  option(value="Oceanwave") Oceanwave
                  option(value="Sahara") Sahara
                  option(value="White") White
                  option(value="Mediterranean Sunset") Mediterranean Sunset
                  option(value="Platinum Swirl") Platinum Swirl
                  option(value="Oyster Opal") Oyster Opal
                  option(value="Mayan Copper") Mayan Copper
                .order-form__delivery-time
                  svg
                    use(xlink:href="assets/img/sprite.svg#car")
                  span.delivery-time.delivery-time--fast 1-2 Werktage
                  span.delivery-time.delivery-time--slow 8-12 Werktage

            .order-form__selectbox-item
              span.order-form__selectbox-text Außenverkleidung:
              .order-select-wrap.custom-select__wrap.custom-select__wrap--light
                select.order-select.custom-select(name='cabinet')
                  option(value='Grey' selected) Grey
                  option(value='Coffee') Coffee
                  option(value='Black') Black

            .order-form__selectbox-item
              span.order-form__selectbox-text Cover colors:
              .order-select-wrap.custom-select__wrap.custom-select__wrap--light
                select.order-select.custom-select(name='cover')
                  option(value='Grey' selected) Grey
                  option(value='Coffee') Coffee
                  option(value='Black') Black


          .order-form__checkbox-row
            h6.order-form__checkbox-row-title Zubehör:
            .order-form__checkbox-row-inn
              label.order-form__label
                input(name='whirlpool' type="checkbox")
                .order-form__checkbox
                span
                  strong Abdeckung für den Whirlpool
                  br
                  p + 299 €

              label.order-form__label
                input(name='einstiegstreppe' type="checkbox")
                .order-form__checkbox
                span
                  strong Einstiegstreppe
                  br
                  p +199 €

              label.order-form__label
                input(name='lifter' type="checkbox")
                .order-form__checkbox
                span
                  strong Lifter für Abdeckung
                  br
                  p +199 €

              label.order-form__label
                input(name='bayrol' type="checkbox")
                .order-form__checkbox
                span
                  strong Starter-Paket „Bayrol Pflegeprodukte“
                  br
                  p + 89 €


          .order-form__textarea-item
            textarea(name="nachricht" placeholder='Nachricht')

          .order-form__footer
            .order-form__footer-checkbox
              label.order-form__label
                input(type="checkbox" name="kopie")
                .order-form__checkbox
                span Eine Kopie dieser Nachricht an Ihre E-Mail-Adresse senden

            .order-form__footer-text
              p Bitte beachten Sie!
              p Ihre Anfrage bearbeiten wir üblicherweise innerhalb der nächsten 24 Stunden. Sollten Sie in diesem Zeitraum keine Nachricht von uns erhalten, ist unsere Email-Antwort möglicherweise von Ihrem Provider als "Spam" herausgefiltert worden. Bitte prüfen Sie dies. Vielen Dank für Ihre eventuelle Rückmeldung bei Nicht-Erhalt unserer Antwort.
          span.btn.btn--custom.order-form__btn
            span.btn--inner
              input(type="submit" value='Senden')
    //end   order-form


  //end content

  include ../sections/footer
  include ../sections/popup-success
  include ../sections/scripts