extends ../_template

block variables
  - var title = 'Delfi Spa - Santorin | Delfi Spa'
  - var pageHeaderTitle = 'Delfi Spa - Santorin'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'Catalogue'
  - var breadcrumbs03 = 'Delfi Spa - Santorin'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.productcard
    //begin productcard-top
    section.productcard-top
      .productcard-top__left
        .productcard-top__slider-thumb#productcard-top__slider-thumb
          span.thumb-prev
            img(src="assets/img/productcard-top-slider/santorin-01-thumb.jpg" alt="santorin")
          span.thumb-prev
            img(src="assets/img/productcard-top-slider/santorin-02-thumb.jpg" alt="santorin")
          span.thumb-prev
            img(src="assets/img/productcard-top-slider/santorin-03-thumb.jpg" alt="santorin")
          span.thumb-prev
            img(src="assets/img/productcard-top-slider/santorin-04-thumb.jpg" alt="santorin")
          span.thumb-prev
            img(src="assets/img/productcard-top-slider/santorin-05-thumb.jpg" alt="santorin")


        .productcard-top__slider#productcard-top__slider
          img(src="assets/img/productcard-top-slider/santorin-01.jpg" alt="santorin")
          img(src="assets/img/productcard-top-slider/santorin-02.jpg" alt="santorin")
          img(src="assets/img/productcard-top-slider/santorin-03.jpg" alt="santorin")
          img(src="assets/img/productcard-top-slider/santorin-04.jpg" alt="santorin")
          img(src="assets/img/productcard-top-slider/santorin-05.jpg" alt="santorin")


        //footer.productcard-top__left-footer
          button.productcard-top__compare Vergleichen
            svg
              use(xlink:href="assets/img/sprite.svg#arrows")


      .productcard-top__right

        //begin breadcrumbs
        section.breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/") #{breadcrumbs01}
            li.breadcrumbs__item
              a.breadcrumbs__link(href="catalog.html") #{breadcrumbs02}
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#") #{breadcrumbs03}
        //end breadcrumbs

        h2.productcard-top__title Delfi Spa - Santorin
        p.productcard-top__descr Das luxuriöse Modell „Santorin“ ist ein großzügiger Garten-Whirlpool mit Platz für fünf Personen, komfortablen Sitzund Liegepositionen und einer großartigen Massage. Äußerst beliebt ist die Kombination verschiedener Sitzformen und Düsentypen, die sich je nach individuellem Bedürfnis einzeln regeln lassen. Genießen Sie eine wohltuende Zeit in Ihrer Wellness-Oase!
        //begin productcard-top__order
        .productcard-top__order.active
          .productcard-top__specification
            table
              tr
                td Maße:
                td 230 x 230 x 92 cm
              tr
                td Fassungsvermögen:
                td 280 Liter
              tr
                td Personen:
                td 5 Massageplätze
              tr
                td Massagedüsen:
                td 85
              tr
                td Luftdüsen:
                td 22
              tr
                td Lieferzeit ca.
                td 8-13 Wochen

          .productcard-top__btns
            //.productcard-top__btns-item
              a(href="#").productcard-top__btn
                svg
                  use(xlink:href="assets/img/sprite.svg#dnk")
                span Vergleichen

            .productcard-top__btns-item
              a(href="#").productcard-top__btn
                svg
                  use(xlink:href="assets/img/sprite.svg#pdf")
                span Produktflyer

            //.productcard-top__btns-item
              a(href="#").productcard-top__btn
                svg
                  use(xlink:href="assets/img/sprite.svg#shield")
                span Garantie
        //end productcard-top__order


        //begin productcard-top__online
        .productcard-top__online
          .productcard-top__parametrs
            .productcard-top__parametrs-row
              .productcard-top__parametrs-item
                span Wannenfarbe Acryl:
              .productcard-top__parametrs-item
                .productcard-top__select-wrap.custom-select__wrap.custom-select__wrap--light
                  select.productcard-top__select.custom-select
                    option(value='white' selected) White Marble
                    option(value='grey') Dark Grey
                    option(value='black') Black Marble
                    option(value='red') Red Marble
                    option(value='brown') Brown Marble
                    option(value='green') Green Marble
            .productcard-top__parametrs-row
              .productcard-top__parametrs-item
                span Außenverkleidung:
              .productcard-top__parametrs-item
                .productcard-top__select-wrap.custom-select__wrap.custom-select__wrap--light
                  select.productcard-top__select.custom-select
                    option(value='grey' selected) Dark Grey
                    option(value='white') White Marble
                    option(value='black') Black Marble
                    option(value='red') Red Marble
                    option(value='brown') Brown Marble
                    option(value='green') Green Marble
            .productcard-top__parametrs-row
              .productcard-top__parametrs-item
                span Lieferzeit:
              .productcard-top__parametrs-item.productcard-top__parametrs-item--weight
                svg
                  use(xlink:href="assets/img/sprite.svg#car")
                span 5-10 Werktage

            .productcard-top__parametrs-row.productcard-top__parametrs-row--zubehor
              .productcard-top__parametrs-item
                span Zubehör:

              .productcard-top__parametrs-item
                .productcard-top__checkbox
                  label
                    input(type="checkbox")
                    .productcard-top__checkbox-wrap
                    span Abdeckung für den Whirlpool &#160;
                      strong +299 €
                .productcard-top__checkbox
                  label
                    input(type="checkbox")
                    .productcard-top__checkbox-wrap
                    span Einstiegstreppe &#160;
                      strong +199 €
                .productcard-top__checkbox
                  label
                    input(type="checkbox")
                    .productcard-top__checkbox-wrap
                    span Lifter für Abdeckung &#160;
                      strong +199 €
                .productcard-top__checkbox
                  label
                    input(type="checkbox")
                    .productcard-top__checkbox-wrap
                    span Starter-Paket "Bayrol Pflegeprodukte" &#160;
                      strong +89 €
        //end productcard-top__online
    //end productcard-top



    //begin productcard-tab
    section.productcard-tab
      .productcard-tab__tabs#productcard-tab__tabs
        .productcard-tab__tab.active(data-tab='order')
          span Order product
        .productcard-tab__tab(data-tab='online')
          span Buy online
      .productcard-tab__cards
        .productcard-tab__card.productcard-tab__card--order.active
          .container
            .productcard-tab__item
              span.productcard-tab__old-price Preis: 12.449,- €
              span.productcard-tab__new-price Aktion 7.499,- €
              span.productcard-tab__text-price
                | inkl. 19% MwSt.
                br
                | Versandkostenfreie Lieferung

            .productcard-tab__item
              .productcard-tab__sale
                svg
                  use(xlink:href="assets/img/sprite.svg#percent")
                .productcard-tab__sale-text
                  span.productcard-tab__sale-date Sonderpreis bis 15.04.18
                  span.productcard-tab__sale-percent 31% gespart

            .productcard-tab__item
              button.productcard-tab__basket-btn
                img(src="assets/img/basket.svg" alt="basket")
                span Fragen zum Produkt


        .productcard-tab__card.productcard-tab__card--online
          .container
            .productcard-tab__item
              span.productcard-tab__old-price Preis: 12.449,- €
              span.productcard-tab__new-price Aktion 7.499,- €
              span.productcard-tab__text-price
                | inkl. 19% MwSt.
                br
                | Versandkostenfreie Lieferung

            .productcard-tab__item
              .productcard-tab__sale
                svg
                  use(xlink:href="assets/img/sprite.svg#percent")
                .productcard-tab__sale-text
                  span.productcard-tab__sale-date Sonderpreis bis 15.04.18
                  span.productcard-tab__sale-percent 31% gespart

            .productcard-tab__item
              button.productcard-tab__basket-btn
                img(src="assets/img/basket.svg" alt="basket")
                span Fragen zum Produkt
              .productcard-tab__paypal
                img(src="assets/img/paypal.png" alt="pay systems")
    //end   productcard-tab



    //begin bath-tab
    section.bath-tab
      // begin bath-tab__header
      header.bath-tab__header

        .container
          h2.bath-tab__header-title Produktinformationen Model "Santorin"
      // end bath-tab__header

      .container
        .bath-tab__main-tabs
          .bath-tab__main-tab.active(data-tab="01")
            span Besonderheiten
          .bath-tab__main-tab(data-tab="02")
            span Hydrotherapie

      .container
        .bath-tab__body.bath-tab__body--santorin
          //begin bath-tab__item--01
          .bath-tab__item.bath-tab__item--01.active
            .bath-tab__bath
              .bath-tab__bath-btn.bath-tab__bath-btn--01.active(data-tab="01")
                span 1
              .bath-tab__bath-btn.bath-tab__bath-btn--02(data-tab="02")
                span 2
              .bath-tab__bath-btn.bath-tab__bath-btn--03(data-tab="03")
                span 3
              .bath-tab__bath-btn.bath-tab__bath-btn--04(data-tab="04")
                span 4
              .bath-tab__bath-btn.bath-tab__bath-btn--05(data-tab="05")
                span 5
              img(src="assets/img/zones-bath-santorin.jpg" alt="man")
            .bath-tab__zones.bath-tab__zones--01.active
              .bath-tab__zones-item
                img(src="assets/img/man/santorin-man-01.jpg" alt="man")
              .bath-tab__zones-item
                h3.bath-tab__zones-title Whirlplatz Massage-Liege
                p Kraftvoll gegen Rücken- und Schulterverspannungen, diese Liege kombiniert eine kräftigende Rückenmassage mit einem Gefühl der Schwerelosigkeit der Beine. Fünf Hydrotherapie-Düsen bilden einen Bogen hinter Ihren Schultern und massieren diese gleichmäßig. Darunter sorgen sechs große, teilweise doppelt rotierende Düsen für Entspannung und Belebung im gesamten Rückenbereich. Je zwei seitlich angebrachte Düsen massieren das Becken und die Hände. Die Oberund Unterschenkel werden von unten mit Wasser- und Luftdüsen so massiert, dass Sie das Gefühl bekommen, als würden Sie schweben. Und nach einem langen Tag auf den Beinen gibt es nichts besseres als unsere belebende Fußreflexzonenmassage.

            .bath-tab__zones.bath-tab__zones--02
              .bath-tab__zones-item
                img(src="assets/img/man/santorin-man-02.jpg" alt="man")
              .bath-tab__zones-item
                h3.bath-tab__zones-title Whirlplatz Massage-Liege
                p Entspannung von Kopf bis Fuß durch großartige Massage, vier Düsen kümmern sich um die Entspannung Ihrer Schultern, während drei besonders große Düsen teilweise rotierend an Ihrem Rücken für einen wilden Wasserwirbel und gute Durchblutung sorgen. Während seitlich angebrachte Düsen Ihr Becken und Ihre Hände massieren, sorgen zusätzliche Massage- und Luftdüsen für praktisch schwerelose Beine. Der idealer Platz für große Menschen wird durch zwei Fußmassagedüsen abgerundet, die den Massagegenuss perfekt machen. Genießen Sie den beleuchteten Wasserfall. Durch die Luftblasen, die Strahlen und das warme Wasser wird für eine Entspannung der Muskeln gesorgt und gleichzeitig der Körper massiert.

            .bath-tab__zones.bath-tab__zones--03
              .bath-tab__zones-item
                img(src="assets/img/man/santorin-man-03.jpg" alt="man")
              .bath-tab__zones-item
                h3.bath-tab__zones-title Whirlplatz Massage-Sitz
                p Kompakte Massagepower rund um den Rücken - vier große Rückendüsen sorgen für zentrale Wasserwirbel am Rücken, während Luftdüsen die Oberschenkel massieren und der Fußbereich mit weiteren Massagedüsen aufwartet. Genießen Sie eine wohltuende Zeit und steigern Sie Ihr Wohlbefinden!

            .bath-tab__zones.bath-tab__zones--04
              .bath-tab__zones-item
                img(src="assets/img/man/santorin-man-04.jpg" alt="man")
              .bath-tab__zones-item
                h3.bath-tab__zones-title Whirlplatz Massage-Sitz
                p Der Chefsessel - 19 (!) Düsen sorgen für eine großflächige Massage des gesamten Rückens inklusive Schultern und Lendenwirbelbereich. Rund um den Schulterbereich befinden sich sechs Schulter- und zwei Nackendüsen, darunter weitere mittlere Düsen, sowie fünf größere, teilweise rotierende Düsen. Diese sorgen für ein ultimatives Whirlgefühl am gesamten Rücken. Kräftig und mit hohem Wasserdurchsatz werden die Muskeln entspannt und die Durchblutung gefördert. Zusatzdüsen für Becken und Hände runden die Massage sinnvoll ab. Luftdüsen umspielen die Oberschenkel und Waden und für Ihre Füße stehen ebenfalls Düsen bereit, um die Massage komplett zu machen.

            .bath-tab__zones.bath-tab__zones--05
              .bath-tab__zones-item
                img(src="assets/img/man/santorin-man-05.jpg" alt="man")
              .bath-tab__zones-item
                h3.bath-tab__zones-title Whirlplatz Massage-Sitz
                p Entspannung ganz einfach, Relaxen mit einer Rückenmassage über drei große Rückendüsen, ergänzt um Luftdüsen für die Oberschenkel und Fußmassage. Je nach individuellem Bedürfnis lassen sich bei Delfi Spa die Intensität und der Abstrahlwinkel jeder einzelnen Düse einzeln regeln.
          //end bath-tab__item--01

          //begin bath-tab__item--02
          .bath-tab__item.bath-tab__item--02
            .bath-tab__bath-02
              .bath-tab__bath-02-btn.bath-tab__bath-02-btn--01.active(data-tab="01")
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
              .bath-tab__bath-02-btn.bath-tab__bath-02-btn--02(data-tab="02")
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
              .bath-tab__bath-02-btn.bath-tab__bath-02-btn--03(data-tab="03")
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
              .bath-tab__bath-02-btn.bath-tab__bath-02-btn--04(data-tab="04")
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
              .bath-tab__bath-02-btn.bath-tab__bath-02-btn--05(data-tab="05")
                svg
                  use(xlink:href="assets/img/sprite.svg#plus")
              img(src="assets/img/zones-bath-santorin.jpg" alt="marbella")
            .bath-tab__zones-02.bath-tab__zones-02--01.active
              .bath-tab__zones-02-img
                img(src="assets/img/bath-tab-01.jpg" alt="img")
              h4.bath-tab__zones-02-title Beleuchtetes Touch-Bedienpaneel
              p Hintergrundbeleuchtetes und einfach ablesbares LCD-Display für kinderleichte Bedienung mit allen wichtigen Funktionen: Digitale Wassertemperaturanzeige, Energiesparmodus, Winter Smart Gefrierschutz, Diagnoseanzeige für maximalen Bedienkomfort
            .bath-tab__zones-02.bath-tab__zones-02--02
              .bath-tab__zones-02-img
                img(src="assets/img/bath-tab-02.jpg" alt="img")
              h4.bath-tab__zones-02-title Spezielle Hydrotherapie
              p Pulsierend, rotierend und knetend massieren die Edelstahldüsen und versorgen alle Körperpartien durchdacht und optimal: Nacken & Schulter, Rücken- & Lendenbereich, Ober- & Unterschenkel, Fußreflexzonenmassage. Wählen Sie einfach Ihren Lieblingsplatz.
            .bath-tab__zones-02.bath-tab__zones-02--03
              .bath-tab__zones-02-img
                img(src="assets/img/bath-tab-03.jpg" alt="img")
              h4.bath-tab__zones-02-title ClearCrystal Reinigungssystem
              p Intelligentes mehrstufiges Wassermanagementsystem mit Filtersystem und hochwirksamer Desinfektionsanlage für die unkomplizierte Desinfektion und Reinigung des Wassers, welche den Einsatz von Wasserpflegemitteln stark reduziert.
            .bath-tab__zones-02.bath-tab__zones-02--04
              .bath-tab__zones-02-img
                img(src="assets/img/bath-tab-04.jpg" alt="img")
              h4.bath-tab__zones-02-title Multilicht LED Beleuchtung
              p LED-Effektlichter für ein optisches Highlight, Beleuchtung der Wasserlinie durch viele kleine LEDs (Wasser schimmert in der eingestellten Farbe), LED-Wasserspiel und hinterleuchtete Luftdüsen mit Farbfeststellung und Farbwechsel schaffen eine besondere Atmosphäre.
            .bath-tab__zones-02.bath-tab__zones-02--05
              .bath-tab__zones-02-img
                img(src="assets/img/bath-tab-05.jpg" alt="img")
              h4.bath-tab__zones-02-title Luftsprudelsystem und Aromatherapie
              p Liegen Sie entspannt auf der Massageliege und lassen Sie sich durch die sanfte, vitalisierende Luftsprudelmassage mit vorgewärmter Luft verwöhnen. Dadurch wird die Hautdurchblutung verbessert und der Organismus vitalisiert. Sehr entspannend nach einem langen Arbeitstag, nach dem Sport oder vor dem Schlafengehen.
          //end bath-tab__item--02
    //end   bath-tab



    //include ../sections/bath-tab
    include ../sections/aside-tab
    //include ../sections/specifications-tab


    //begin specifications-tab
    section.specifications-tab
      // begin specifications-tab__tabs
      .specifications-tab__tabs
        .specifications-tab__tab.active(data-tab="01")
          span Ausstattung
        .specifications-tab__tab(data-tab="02")
          span Zubehör
        .specifications-tab__tab(data-tab="03")
          span Massagedüsen
        .specifications-tab__tab(data-tab="04")
          span Datenblatt
        .specifications-tab__tab(data-tab="05")
          span Farbenauswahl
      // end specifications-tab__tabs

      // begin specifications-tab__body
      .specifications-tab__body
        //begin specifications-tab__cards--01
        .specifications-tab__cards.specifications-tab__cards--01.active
          .container
            ul.specifications-tab__list
              li Europäisches, edles Design mit eleganten Linien
              li Beleuchtetes Touch-Bedienpanel für max. Bedienkomfort
              li Multilicht LED-Beleuchtung für optische Highlights
              li Kaskaden und einzigartige Lichteffekte für schöne Atmosphäre
              li Mehrstufiges intelligentes ClearCrystal Reinigungssystem
              li Luftsprudelsystem mit warmer Luft und Aromatherapie
              li Hochwertige Hydrotherapie für alle Körperpartien
              li Langlebige Edelstahldüsen in optimaler Anordnung
              li Düsen im Nacken-, Fuß- und Wadenbereich
            ul.specifications-tab__list
              li Wasserdesinfektion durch Ozonsystem mit Einwaschkammer
              li Mehrschichtige 8 mm Acrylwanne mit Hygiene-Bio-Lok®
              li Polaris 4-fach Isolierung mit Dämmplatten und Reflektorfolie
              li Wärmenutzung der Pumpen für geringeren Stromverbrauch
              li Leistungsstarke Titan Heizung 3 kW für lange Badegänge
              li Einhaltung strengster Sicherheits- und Qualitätsstandards
              li Geringe Unterhalts- und Betriebskosten
              li Wartungsarmer Dauerbetrieb
        //end specifications-tab__cards--01

        //begin specifications-tab__cards--02
        .specifications-tab__cards.specifications-tab__cards--02
          .container
            // begin specifications-tab__accessory-item
            .specifications-tab__accessory-item
              .specifications-tab__accessory-img
                img(src='assets/img/specifications/accessories-01.jpg' alt="img")
              .specifications-tab__accessory-text
                p Extra starke Isolierabdeckung
                span + 299 €
            // end specifications-tab__accessory-item
            // begin specifications-tab__accessory-item
            .specifications-tab__accessory-item
              .specifications-tab__accessory-img
                img(src='assets/img/specifications/accessories-02.jpg' alt="img")
              .specifications-tab__accessory-text
                p Einstiegstreppe (Farbe wie Verkleidung)
                span + 199 €
            // end specifications-tab__accessory-item
            // begin specifications-tab__accessory-item
            .specifications-tab__accessory-item
              .specifications-tab__accessory-img
                img(src='assets/img/specifications/accessories-03.jpg' alt="img")
              .specifications-tab__accessory-text
                p Lifter für Abdeckung
                span + 199 €
            // end specifications-tab__accessory-item
            // begin specifications-tab__accessory-item
            .specifications-tab__accessory-item
              .specifications-tab__accessory-img
                img(src='assets/img/specifications/accessories-04.jpg' alt="img")
              .specifications-tab__accessory-text
                p Starter-Paket "Bayrol Pflegeprodukte"
                span + 89 €
            // end specifications-tab__accessory-item
            // begin specifications-tab__accessory-item
            .specifications-tab__accessory-item
              .specifications-tab__accessory-img
                img(src='assets/img/specifications/accessories-05.jpg' alt="img")
              .specifications-tab__accessory-text
                p Wi-fi Upgrade
                span + 315 €
            // end specifications-tab__accessory-item
            // begin specifications-tab__accessory-item
            .specifications-tab__accessory-item
              .specifications-tab__accessory-img
                img(src='assets/img/specifications/accessories-06.jpg' alt="img")
              .specifications-tab__accessory-text
                p Ersatzfilter
                span + 29 €
            // end specifications-tab__accessory-item
        //end specifications-tab__cards--02

        //begin specifications-tab__cards--03
        .specifications-tab__cards.specifications-tab__cards--03
          .container
            header.specifications-tab__cards-header
              h3.specifications-tab__cards-header-title Düsen sind das Herzstück der Delfi Spa
              p Damit der Badevorgang zum Erlebnis wird, müssen sich Massage und Hydrotherapie gut anfühlen und eine starke Massagekraft besitzen. In einem Delfi Spa Outdoor Whirlpool orientiert sich die extra ergonomische Anordnung der Massagedüsen an der menschlichen Anatomie. Für die Individualisierung der Massage sind alle DirectHydro Düsen individuell in Stärke und Position verstellbar. Die vielfältigen Düsenarten massieren, regenerieren und vitalisieren den gesamten Körper.
            .specifications-tab__cards-list

              // begin specifications-tab__cards-item
              .specifications-tab__cards-item
                .specifications-tab__cards-img
                  img(src='assets/img/specifications/specifications-tab-cards-03.jpg' alt="img")
                .specifications-tab__cards-text
                  h4.specifications-tab__cards-item-title 5x RotoTwin Macro Düsen
                  p Kreisenden Bewegungen durch Düsen mit doppeltem Wasserstrahl vermindern Verspannungen an den Schulterblättern sowie im Rückenbereich. Sie sorgen für neue Beweglichkeit und ein wunderbares Gefühl der Entspannung.
              // end specifications-tab__cards-item

              // begin specifications-tab__cards-item
              .specifications-tab__cards-item
                .specifications-tab__cards-img
                  img(src='assets/img/specifications/specifications-tab-cards-09.jpg' alt="img")
                .specifications-tab__cards-text
                  h4.specifications-tab__cards-item-title 2x RotoSingle Macro Düsen
                  p Kreisenden Bewegungen durch Düsen mit einfachem Wasserstrahl vermindern Verspannungen an den Schulterblättern sowie im Rückenbereich. Eine entspannende Massage mit kreisenden Bewegungen, die eine tiefer gehende Massagewirkung erzielen.
              // end specifications-tab__cards-item

              // begin specifications-tab__cards-item
              .specifications-tab__cards-item
                .specifications-tab__cards-img
                  img(src='assets/img/specifications/specifications-tab-cards-04.jpg' alt="img")
                .specifications-tab__cards-text
                  h4.specifications-tab__cards-item-title 1x Multimassage (12) Maxi Düsen
                  p Für die großflächige Massage des Rückens werden meist Whirlpool- Düsen mit großen Öffnungen und einem hohen Wasserdurchfluss eingesetzt. Bei dieser Düsenart wird der Wasserstrom auf zwölf Einzeldüsen verteilt, die für eine sanfte und pulsierende Behandlung des Rückenbereichs sorgen.
              // end specifications-tab__cards-item

              // begin specifications-tab__cards-item
              .specifications-tab__cards-item
                .specifications-tab__cards-img
                  img(src='assets/img/specifications/specifications-tab-cards-01.jpg' alt="img")
                .specifications-tab__cards-text
                  h4.specifications-tab__cards-item-title 14x DirectHydro Macro Düsen
                  p Für die großflächige Massage des Rückens werden meist Düsen mit größeren Öffnungen und einem hohen Wasserdurchfluss eingesetzt. Solche großflächigen Whirlpool-Düsen haben zudem den Effekt, eine tiefergehende Massagewirkung zu erzielen.
              // end specifications-tab__cards-item

              // begin specifications-tab__cards-item
              .specifications-tab__cards-item
                .specifications-tab__cards-img
                  img(src='assets/img/specifications/specifications-tab-cards-01.jpg' alt="img")
                .specifications-tab__cards-text
                  h4.specifications-tab__cards-item-title 57x DirectHydro Medi Düsen
                  p Bei dieser Massageform wird ein konstanter Druck erzeugt, der Verspannungen in größeren Muskelpartien und Gelenken lockert. Ziel der Massage ist, Verspannungen in der rechten und linken Körperseite auszugleichen, die Durchblutung zu fördern und für mehr Ausgewogenheit und Gesundheit zu sorgen. Alle Düsen sind in Massagerichtung und Intensität verstellbar.
              // end specifications-tab__cards-item

              // begin specifications-tab__cards-item
              .specifications-tab__cards-item
                .specifications-tab__cards-img
                  img(src='assets/img/specifications/specifications-tab-cards-01.jpg' alt="img")
                .specifications-tab__cards-text
                  h4.specifications-tab__cards-item-title 6x DirectHydro Mini Düsen
                  p Diese Düsen lockern Verspannungen in kleineren Muskelpartien durch eine direkte und kraftvolle Massage. Wir haben diese Düsen für Sie für die Schultermassage und für die Reflexzonenmassage der Fußsohlen verbaut. Die Stimulation der Massagepunkte hat eine entspannende Wirkung auf den ganzen Körper. Alle Düsen sind in Massagerichtung und Intensität verstellbar.
              // end specifications-tab__cards-item

              // begin specifications-tab__cards-item
              .specifications-tab__cards-item
                .specifications-tab__cards-img
                  img(src='assets/img/specifications/specifications-tab-cards-08.jpg' alt="img")
                .specifications-tab__cards-text
                  h4.specifications-tab__cards-item-title 22x Luftmassagedüsen
                  p Genießen Sie diese sanfte, vitalisierende Luftsprudel-Massage mit vorgewärmter Luft, unzählige Luftblasen legen Ihre Beine in Schwerelosigkeit, um Ihren Körper zu entspannen und zu regenerieren. Diese sanfte Ganzkörpermassage vitalisiert den Organismus und Sie gewinnen neue Energie.
              // end specifications-tab__cards-item
        //end specifications-tab__cards--03

        //begin specifications-tab__cards--04
        .specifications-tab__cards.specifications-tab__cards--04
          .container
            // begin table-01
            table
              tr
                td Modellname
                td Santorin
              tr
                td Preis
                td ab 7.798 € *
              tr
                td Abmessungen
                td 230 x 230 x 92 cm
              tr
                td Wasserfüllmenge
                td 1500 l
              tr
                td Leergewicht
                td 420 kg
              tr
                td Sitzplätze
                td 3x komfortable Massage-Sitzplätze
              tr
                td Liegeplätze
                td 2x ergonomisch geformte Ganzkörper-Massageliegen
              tr
                td Wassermassagedüsen aus Edelstahl
                td 85x Stück
              tr
                td Wasserpumpen
                td 3x 3 PS
              tr
                td Massageregelventil
                td 1x Massageregler zum Lenken des Wasserdrucks auf verschiedene Düsensysteme
              tr
                td Luftmassagedüsen
                td 22x Stück mit vorgewärmter Luft und LED hinterleuchtet
              tr
                td Druckluftpumpe (Blower)
                td 1x 700 W
              tr
                td Luftregler
                td 5x Luftbeimischregler für stufenlose Einstellung von kraftvollen bis sanften Massagestrahlen
              tr
                td Kopfstützen
                td 3x Luxe, hinterleuchtet
              tr
                td Zirkulationspumpe, programmierbar
                td 1x 0,5 PS (energiesparend)
            // end table-01

            // begin table-02
            table
              tr
                td Desinfektionssystem
                td Ozonator mit Mischkammer
              tr
                td Beleuchtung der Wasserlinie
                td 21x Multi-Licht LED
              tr
                td Wasserfall
                td 2x Entspannungs-Wasserfall mit LED-Beleuchtung
              tr
                td Farblichttherapie
                td Ja
              tr
                td Aromatherapie
                td Ja
              tr
                td Heizung
                td 3 kW Balboa Titan-Heizsystem (wartungsfrei)
              tr
                td Steuerung und Bedienung
                td Balboa (USA) - digitales Bedienfeld mit LCD-Anzeige (beleuchtet)
              tr
                td Wannenmaterial und Stärke
                td Acryl Aristech (USA) – mehrschichtig mit 8 mm
              tr
                td GFK Bodenplatte
                td Ja, robuster glasfaserverstärkter Kunststoffboden
              tr
                td Wärmeisolierung
                td Polaris Dreifach-Wärmeisolierung mit energiesparender Wärmerückgewinnung
              tr
                td Außenverkleidung
                td Wartungsfrei und UV- und witterungsbeständig
              tr
                td Stützkonstruktion
                td Aus rostfreiem Edelstahl
              tr
                td Abfluss im Wannenboden
                td Ja
              tr
                td Stromanschluss
                td 380 Volt mit C-16 Ampere
              tr
                td WiFi
                td Optional
              tr
                td Extra-starke Abdeckung
                td Optional
              tr
                td Wasserdichte Hülle für Ihren Whirlpool
                td Optional
            // end table-02
        //end specifications-tab__cards--04

        //begin specifications-tab__cards--05
        .specifications-tab__cards.specifications-tab__cards--05
          .container
            span в разработке
        //end specifications-tab__cards--05
      // end specifications-tab__body
    //end   specifications-tab






    include ../sections/index-banner
    include ../sections/productcard-pdf
    include ../sections/productcard-slider

  //end content

  include ../sections/footer
  include ../sections/scripts
