extends ../_template

block variables
  - var title = 'Delfi Spa - Nerida | Delfi Spa'
  - var pageHeaderTitle = 'Delfi Spa - Nerida'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.productcard

    include ../sections/productcard-top
    include ../sections/productcard-tab
    include ../sections/bath-tab
    include ../sections/aside-tab
    include ../sections/specifications-tab
    include ../sections/index-banner
    include ../sections/productcard-pdf
    include ../sections/productcard-slider

  //end content

  include ../sections/footer
  include ../sections/scripts
