extends ../_template

block variables
  - var title = 'Reviews | Delfi Spa'
  - var pageHeaderTitle = 'Reviews'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs03 = 'Referenzen'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.reviews
    //begin reviews-header
    header.reviews-header

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs03}
      //end breadcrumbs

      h2.reviews-header__title Referenzen
      p Zufriedene Kunden sind die besten Referenzen! Hier stellen wir Ihnen eine kleine Auswahl unserer Whirlpool Referenzen vor. Wir bedanken uns ganz herzlich für die Bildeinsendungen und die netten Worte! Helfen Sie mit und senden Sie uns ein Bild und einen Erfahrungsbericht über Ihren Whirlpool an info@4-deluxe.de. Oder wünschen Sie Sich auch eine eigene Wellness-Oase? Wir freuen uns über Ihre Kontaktaufnahme!
    //end reviews-header

    //begin reviews__list
    section.reviews__list
      //begin reviews__item--pdf
      .reviews__item.reviews__item--pdf
        .reviews__item-left
          a(data-fancybox="gallery" href="assets/img/review-pdf.jpg")
            img(src="assets/img/review-pdf-thumb.jpg" alt="pdf")
        a(href="review-pdf.html").reviews__item-right
          p Hallo Herr Pilz, unseren Whirlpool nutzen wir jetzt schon 10 Monate. Wir baden fast täglich. Was ich noch loswerden wollte: Qualität, Preis, Abwicklung: Alles sehr gut! Danke.
          span.reviews-slider__signature H. Heinze, Bocholt
      //end reviews__item--pdf

      //begin reviews__item--blockquote
      a(href="review-pdf.html").reviews__item.reviews__item--blockquote
        .reviews__item-left
          svg
            use(xlink:href="assets/img/sprite.svg#reviews")
          img(src="assets/img/reviews-icon.png" alt="review")
        .reviews__item-right
          p Gestern wurde unser Whirlpool angeliefert. Wie schnell der große schwere Gartenwhirlpool bei uns auf67 der Terrasse stand, dank der eingesetzten Anlieferungstechnik. Sehr professionell. Wir empfehlen Sie gerne weiter!
          span.reviews-slider__signature M. Hölscher, Ampfing
      //end reviews__item--blockquote

      //begin reviews__item--blockquote
      a(href="review-pdf.html").reviews__item.reviews__item--blockquote
        .reviews__item-left
          svg
            use(xlink:href="assets/img/sprite.svg#reviews")
          img(src="assets/img/reviews-icon.png" alt="review")
        .reviews__item-right
          p Gestern wurde unser Whirlpool angeliefert. Wie schnell der große schwere Gartenwhirlpool bei uns auf67 der Terrasse stand, dank der eingesetzten Anlieferungstechnik. Sehr professionell. Wir empfehlen Sie gerne weiter!
          span.reviews-slider__signature M. Hölscher, Ampfing
      //end reviews__item--blockquote

      //begin reviews__item--video
      .reviews__item.reviews__item--video
        .reviews__item-left
          a(data-fancybox="gallery" href="https://youtu.be/0RF9ZDm8n5I")
            img(src="assets/img/reviews-video.jpg" alt="pdf")
        a(href="review.html").reviews__item-right
          p Hallo Herr Pilz, unseren Whirlpool nutzen wir jetzt schon 10 Monate. Wir baden fast täglich. Was ich noch loswerden wollte: Qualität, Preis, Abwicklung: Alles sehr gut! Danke.
          span.reviews-slider__signature H. Heinze, Bocholt
      //end reviews__item--video

      //begin reviews__item--pdf
      .reviews__item.reviews__item--pdf
        .reviews__item-left
          a(data-fancybox="gallery" href="assets/img/review-pdf.jpg")
            img(src="assets/img/review-pdf-thumb.jpg" alt="pdf")
        a(href="review-pdf.html").reviews__item-right
          p Hallo Herr Pilz, unseren Whirlpool nutzen wir jetzt schon 10 Monate. Wir baden fast täglich. Was ich noch loswerden wollte: Qualität, Preis, Abwicklung: Alles sehr gut! Danke.
          span.reviews-slider__signature H. Heinze, Bocholt
      //end reviews__item--pdf

      //begin reviews__item--blockquote
      a(href="review-pdf.html").reviews__item.reviews__item--blockquote
        .reviews__item-left
          svg
            use(xlink:href="assets/img/sprite.svg#reviews")
          img(src="assets/img/reviews-icon.png" alt="review")
        .reviews__item-right
          p Gestern wurde unser Whirlpool angeliefert. Wie schnell der große schwere Gartenwhirlpool bei uns auf67 der Terrasse stand, dank der eingesetzten Anlieferungstechnik. Sehr professionell. Wir empfehlen Sie gerne weiter!
          span.reviews-slider__signature M. Hölscher, Ampfing
      //end reviews__item--blockquote
    //end   reviews__list

  //end content

  include ../sections/footer
  include ../sections/scripts