extends ../_template

mixin shops-adress__item(id, title)
  //begin shops-adress__item
  .shops-adress__item(class=id)
    h3.shops-adress__title #{title}
    .shops-adress__contact
      svg
        use(xlink:href="assets/img/sprite.svg#marker")
      a(href="https://goo.gl/maps/CsspFLaubGy" target="_blank" rel="nofollow noopener noreferrer")
        | Erlenstraße 1
        br
        | 12167 Berlin-Steglitz
    .shops-adress__contact
      svg
        use(xlink:href="assets/img/sprite.svg#phone")
      a(href="tel:03061674114") Tel.: 030-61674114
    .shops-adress__contact
      svg
        use(xlink:href="assets/img/sprite.svg#mail")
      a(href="mailto:berlin@4-deluxe.de") berlin@4-deluxe.de

    .shops-adress__schedule
      span Öffnungszeiten:
      span Mo – Fr von 10:00-18:00 Uhr
      span Samstag von 10:00-14:30 Uhr

    a(href="#").btn-sm Mehr erfahren
  //end shops-adress__item



block variables
  - var title = 'Unsere Fachgeschäfte | Delfi Spa'
  - var pageHeaderTitle = 'Unsere Fachgeschäfte'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.shops
    //begin shops-top-section
    section.shops-top-section
      //begin shops-header
      header.shops-header
        include ../elements/breadcrumbs
        h2.shops-header__title Unsere Fachgeschäfte
      //end shops-header

      //begin shops-map
      section.shops-map#shops-map
      //end   shops-map

      // begin shops-map__footer
      footer.shops-map__footer
        h2.shops-map__footer-title Fachgeschäfte

        .shops-map__city-select-wrap.custom-select__wrap.custom-select__wrap--dark
          select.shops-map__city-select.custom-select#city-select(name='address')
            option(value='all') Germany
            option(value='berlin') Berlin
            option(value='dusseldorf') Düsseldorf
            option(value='frankfurt') Frankfurt-Heusenstamm
            option(value='hamburg') Hamburg
            option(value='munchen') München
            option(value='stuttgart') Stuttgart
      // end shops-map__footer
    //end   shops-top-section

    //begin shops-adress
    section.shops-adress
      .container
        +shops-adress__item('shops-adress__item--berlin',     'Berlin')
        +shops-adress__item('shops-adress__item--dusseldorf', 'Düsseldorf')
        +shops-adress__item('shops-adress__item--hamburg',    'Hamburg')
        +shops-adress__item('shops-adress__item--munchen',    'München')
        +shops-adress__item('shops-adress__item--dusseldorf', 'Düsseldorf')
        +shops-adress__item('shops-adress__item--berlin',     'Berlin')
        +shops-adress__item('shops-adress__item--frankfurt',  'Frankfurt-Heusenstamm')
        +shops-adress__item('shops-adress__item--stuttgart',  'Stuttgart')
        +shops-adress__item('shops-adress__item--hamburg',    'Hamburg')
        +shops-adress__item('shops-adress__item--munchen',    'München')
        +shops-adress__item('shops-adress__item--frankfurt',  'Frankfurt-Heusenstamm')
        +shops-adress__item('shops-adress__item--munchen',    'München')
        +shops-adress__item('shops-adress__item--berlin',     'Berlin')
        +shops-adress__item('shops-adress__item--stuttgart',  'Stuttgart')
        +shops-adress__item('shops-adress__item--munchen',    'München')
        +shops-adress__item('shops-adress__item--hamburg',    'Hamburg')
        +shops-adress__item('shops-adress__item--dusseldorf', 'Düsseldorf')
        +shops-adress__item('shops-adress__item--frankfurt',  'Frankfurt-Heusenstamm')
    //end   shops-adress
      
  //end content

  include ../sections/footer

  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOCsBWLmb8s4eo6cltyZG2HRu99sG3RnE")
  include ../sections/scripts
  script(src='assets/js/map.js')




