extends ../_template

block variables
  - var title = 'Vergleich | Delfi Spa'
  - var pageHeaderTitle = 'Vergleich'
  - var breadcrumbs01 = 'home'
  - var breadcrumbs02 = 'vergleich'

block content
  include ../sections/aside-left
  include ../sections/header

  //begin content
  section.main.compare
    //begin compare-header
    header.compare-header

      //begin breadcrumbs
      section.breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="/") #{breadcrumbs01}
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") #{breadcrumbs02}
      //end breadcrumbs

      h2.compare-header__title Vergleich der Modelle
    //end compare-header


    //begin compare-body
    section.compare-body
      .compare-body__inn
        table.compare-table
          thead.compare-table__head
            tr
              th
                .compare-table__pic
              th.col-01
                .compare-table__pic
                  img(src="assets/img/catalog/nerida-01.jpg" alt="nerida")
              th.col-02
                .compare-table__pic
                  img(src="assets/img/catalog/marbella-01.jpg" alt="marbella")
              th.col-03
                .compare-table__pic
                  img(src="assets/img/catalog/santorin-01.jpg" alt="santorin")
              th.col-01
                .compare-table__pic
                  img(src="assets/img/catalog/nerida-01.jpg" alt="nerida")
              th.col-02
                .compare-table__pic
                  img(src="assets/img/catalog/marbella-01.jpg" alt="marbella")
              th.col-03
                .compare-table__pic
                  img(src="assets/img/catalog/santorin-01.jpg" alt="santorin")
            tr
              th
                .compare-table__highlight
              th.col-01
                .compare-table__highlight
                  h3.compare-table__title Nerida
                  .compare-table__col-close(data-close="01")
                    span Delete
                    svg
                      use(xlink:href="assets/img/sprite.svg#close")
              th.col-02
                .compare-table__highlight
                  h3.compare-table__title Marbella
                  .compare-table__col-close(data-close="02")
                    span Delete
                    svg
                      use(xlink:href="assets/img/sprite.svg#close")
              th.col-03
                .compare-table__highlight
                  h3.compare-table__title Santorin
                  .compare-table__col-close(data-close="03")
                    span Delete
                    svg
                      use(xlink:href="assets/img/sprite.svg#close")
              th.col-01
                .compare-table__highlight
                  h3.compare-table__title Nerida
                  .compare-table__col-close(data-close="01")
                    span Delete
                    svg
                      use(xlink:href="assets/img/sprite.svg#close")
              th.col-02
                .compare-table__highlight
                  h3.compare-table__title Marbella
                  .compare-table__col-close(data-close="02")
                    span Delete
                    svg
                      use(xlink:href="assets/img/sprite.svg#close")
              th.col-03
                .compare-table__highlight
                  h3.compare-table__title Santorin
                  .compare-table__col-close(data-close="03")
                    span Delete
                    svg
                      use(xlink:href="assets/img/sprite.svg#close")

          tbody.compare-table__body
            tr
              td Preis
              td.col-01 Ab 5.998 € *
              td.col-02 Ab 7.298 € *
              td.col-03 Ab 7.798 € *
              td.col-01 Ab 5.998 € *
              td.col-02 Ab 7.298 € *
              td.col-03 Ab 7.798 € *
            tr
              td Abmessungen
              td.col-01 210 x 160 x 90
              td.col-02 200 x 210 x 93
              td.col-03 230 x 230 x 92
              td.col-01 210 x 160 x 90
              td.col-02 200 x 210 x 93
              td.col-03 230 x 230 x 92
            tr
              td Wasserfüllmenge
              td.col-01 950 l
              td.col-02 1390 l
              td.col-03 1500 l
              td.col-01 950 l
              td.col-02 1390 l
              td.col-03 1500 l
            tr
              td Leergewicht
              td.col-01 280 kg
              td.col-02 365 kg
              td.col-03 420 kg
              td.col-01 280 kg
              td.col-02 365 kg
              td.col-03 420 kg
            tr
              td Sitzplätze
              td.col-01 1 komfortabler Massage-Sitzplatz
              td.col-02 3 komfortable Massage-Sitzplätze
              td.col-03 3 komfortable Massage-Sitzplätze
              td.col-01 1 komfortabler Massage-Sitzplatz
              td.col-02 3 komfortable Massage-Sitzplätze
              td.col-03 3 komfortable Massage-Sitzplätze
            tr
              td Liegeplätze
              td.col-01 2 ergonomisch geformte Ganzkörper-Massageliegen
              td.col-02 2 ergonomisch geformte Ganzkörper-Massageliegen
              td.col-03 2 ergonomisch geformte Ganzkörper-Massageliegen
              td.col-01 2 ergonomisch geformte Ganzkörper-Massageliegen
              td.col-02 2 ergonomisch geformte Ganzkörper-Massageliegen
              td.col-03 2 ergonomisch geformte Ganzkörper-Massageliegen
            tr
              td Wassermassagedüsen aus Edelstahl
              td.col-01 64 Stück
              td.col-02 77 Stück
              td.col-03 85 Stück
              td.col-01 64 Stück
              td.col-02 77 Stück
              td.col-03 85 Stück
            tr
              td Wasserpumpen
              td.col-01 2x 3 PS
              td.col-02 3x 3 PS
              td.col-03 3x 3 PS
              td.col-01 2x 3 PS
              td.col-02 3x 3 PS
              td.col-03 3x 3 PS
            tr
              td Massageregelventil
                br
                br
              td.col-01 1 Massageregler zum Lenken des Wasserdrucks auf verschiedene Düsensysteme
              td.col-02 1 Massageregler zum Lenken des Wasserdrucks auf verschiedene Düsensysteme
              td.col-03 1 Massageregler zum Lenken des Wasserdrucks auf verschiedene Düsensysteme
              td.col-01 1 Massageregler zum Lenken des Wasserdrucks auf verschiedene Düsensysteme
              td.col-02 1 Massageregler zum Lenken des Wasserdrucks auf verschiedene Düsensysteme
              td.col-03 1 Massageregler zum Lenken des Wasserdrucks auf verschiedene Düsensysteme
            tr
              td Luftmassagedüsen
                br
                br
              td.col-01 10 Stück mit vorgewärmter Luft und LED hinterleuchtet
              td.col-02 14 Stück mit vorgewärmter Luft und LED hinterleuchtet
              td.col-03 22 Stück mit vorgewärmter Luft und LED hinterleuchtet
              td.col-01 10 Stück mit vorgewärmter Luft und LED hinterleuchtet
              td.col-02 14 Stück mit vorgewärmter Luft und LED hinterleuchtet
              td.col-03 22 Stück mit vorgewärmter Luft und LED hinterleuchtet
            tr
              td Druckluftpumpe (Blower)
              td.col-01 1x 400 W
              td.col-02 1x 700 W
              td.col-03 1x 700 W
              td.col-01 1x 400 W
              td.col-02 1x 700 W
              td.col-03 1x 700 W
            tr
              td Luftregler
                br
                br
              td.col-01 3 Luftbeimischregler für stufenlose Einstellung von kraftvollen bis sanften Massagestrahlen
              td.col-02 4 Luftbeimischregler für stufenlose Einstellung von kraftvollen bis sanften Massagestrahlen
              td.col-03 4 Luftbeimischregler für stufenlose Einstellung von kraftvollen bis sanften Massagestrahlen
              td.col-01 3 Luftbeimischregler für stufenlose Einstellung von kraftvollen bis sanften Massagestrahlen
              td.col-02 4 Luftbeimischregler für stufenlose Einstellung von kraftvollen bis sanften Massagestrahlen
              td.col-03 4 Luftbeimischregler für stufenlose Einstellung von kraftvollen bis sanften Massagestrahlen
            tr
              td Kopfstützen
              td.col-01 2x Luxe, hinterleuchtet
              td.col-02 3x Luxe, hinterleuchtet
              td.col-03 3x Luxe, hinterleuchtet
              td.col-01 2x Luxe, hinterleuchtet
              td.col-02 3x Luxe, hinterleuchtet
              td.col-03 3x Luxe, hinterleuchtet
            tr
              td Zirkulationspumpe, programmierbar
              td.col-01 1x 0,5 PS (energiesparend)
              td.col-02 1x 0,5 PS (energiesparend)
              td.col-03 1x 0,5 PS (energiesparend)
              td.col-01 1x 0,5 PS (energiesparend)
              td.col-02 1x 0,5 PS (energiesparend)
              td.col-03 1x 0,5 PS (energiesparend)
            tr
              td Desinfektionssystem
              td.col-01 Ozonator mit Mischkammer
              td.col-02 Ozonator mit Mischkammer
              td.col-03 Ozonator mit Mischkammer
              td.col-01 Ozonator mit Mischkammer
              td.col-02 Ozonator mit Mischkammer
              td.col-03 Ozonator mit Mischkammer
            tr
              td Beleuchtung der Wasserlinie
              td.col-01 15x Multi-Licht LED
              td.col-02 39x Multi-Licht LED
              td.col-03 21x Multi-Licht LED
              td.col-01 15x Multi-Licht LED
              td.col-02 39x Multi-Licht LED
              td.col-03 21x Multi-Licht LED
            tr
              td Wasserfall
              td.col-01 3 parallele Wasserfalldüsen mit LED-Beleuchtung
              td.col-02 1 Entspannungs-Wasserfall mit LED-Beleuchtung
              td.col-03 2x Entspannungs-Wasserfall mit LED-Beleuchtung
              td.col-01 3 parallele Wasserfalldüsen mit LED-Beleuchtung
              td.col-02 1 Entspannungs-Wasserfall mit LED-Beleuchtung
              td.col-03 2x Entspannungs-Wasserfall mit LED-Beleuchtung
            tr
              td Farblichttherapie
              td.col-01 Ja
              td.col-02 Ja
              td.col-03 Ja
              td.col-01 Ja
              td.col-02 Ja
              td.col-03 Ja
            tr
              td Aromatherapie
              td.col-01 Ja
              td.col-02 Ja
              td.col-03 Ja
              td.col-01 Ja
              td.col-02 Ja
              td.col-03 Ja
            tr
              td Heizung
              td.col-01 3 kW Balboa Titan-Heizsystem (wartungsfrei)
              td.col-02 3 kW Balboa Titan-Heizsystem (wartungsfrei)
              td.col-03 3 kW Balboa Titan-Heizsystem (wartungsfrei)
              td.col-01 3 kW Balboa Titan-Heizsystem (wartungsfrei)
              td.col-02 3 kW Balboa Titan-Heizsystem (wartungsfrei)
              td.col-03 3 kW Balboa Titan-Heizsystem (wartungsfrei)
            tr
              td Steuerung und Bedienung
                br
                br
              td.col-01 Balboa (USA) - digitales Bedienfeld mit LCD-Anzeige (beleuchtet)
              td.col-02 Balboa (USA) - digitales Bedienfeld mit LCD-Anzeige (beleuchtet)
              td.col-03 Balboa (USA) - digitales Bedienfeld mit LCD-Anzeige (beleuchtet)
              td.col-01 Balboa (USA) - digitales Bedienfeld mit LCD-Anzeige (beleuchtet)
              td.col-02 Balboa (USA) - digitales Bedienfeld mit LCD-Anzeige (beleuchtet)
              td.col-03 Balboa (USA) - digitales Bedienfeld mit LCD-Anzeige (beleuchtet)
            tr
              td Wannenmaterial und Stärke
              td.col-01 Acryl Aristech (USA) – mehrschichtig mit 8 mm
              td.col-02 Acryl Aristech (USA) – mehrschichtig mit 8 mm
              td.col-03 Acryl Aristech (USA) – mehrschichtig mit 8 mm
              td.col-01 Acryl Aristech (USA) – mehrschichtig mit 8 mm
              td.col-02 Acryl Aristech (USA) – mehrschichtig mit 8 mm
              td.col-03 Acryl Aristech (USA) – mehrschichtig mit 8 mm
            tr
              td GFK Bodenplatte
              td.col-01 Ja, robuster glasfaserverstärkter Kunststoffboden
              td.col-02 Ja, robuster glasfaserverstärkter Kunststoffboden
              td.col-03 Ja, robuster glasfaserverstärkter Kunststoffboden
              td.col-01 Ja, robuster glasfaserverstärkter Kunststoffboden
              td.col-02 Ja, robuster glasfaserverstärkter Kunststoffboden
              td.col-03 Ja, robuster glasfaserverstärkter Kunststoffboden
            tr
              td Wärmeisolierung
                br
                br
              td.col-01 Polaris Dreifach-Wärmeisolierung mit energiesparender Wärmerückgewinnung
              td.col-02 Polaris Dreifach-Wärmeisolierung mit energiesparender Wärmerückgewinnung
              td.col-03 Polaris Dreifach-Wärmeisolierung mit energiesparender Wärmerückgewinnung
              td.col-01 Polaris Dreifach-Wärmeisolierung mit energiesparender Wärmerückgewinnung
              td.col-02 Polaris Dreifach-Wärmeisolierung mit energiesparender Wärmerückgewinnung
              td.col-03 Polaris Dreifach-Wärmeisolierung mit energiesparender Wärmerückgewinnung
            tr
              td Außenverkleidung
              td.col-01 Wartungsfrei und UV- und witterungsbeständig
              td.col-02 Wartungsfrei und UV- und witterungsbeständig
              td.col-03 Wartungsfrei und UV- und witterungsbeständig
              td.col-01 Wartungsfrei und UV- und witterungsbeständig
              td.col-02 Wartungsfrei und UV- und witterungsbeständig
              td.col-03 Wartungsfrei und UV- und witterungsbeständig
            tr
              td Stützkonstruktion
              td.col-01 Aus rostfreiem Edelstahl
              td.col-02 Aus rostfreiem Edelstahl
              td.col-03 Aus rostfreiem Edelstahl
              td.col-01 Aus rostfreiem Edelstahl
              td.col-02 Aus rostfreiem Edelstahl
              td.col-03 Aus rostfreiem Edelstahl
            tr
              td Abﬂuss im Wannenboden
              td.col-01 Ja
              td.col-02 Ja
              td.col-03 Ja
              td.col-01 Ja
              td.col-02 Ja
              td.col-03 Ja
            tr
              td Stromanschluss
              td.col-01 380 Volt mit C-16 Ampere
              td.col-02 380 Volt mit C-20 Ampere
              td.col-03 380 Volt mit C-20 Ampere
              td.col-01 380 Volt mit C-16 Ampere
              td.col-02 380 Volt mit C-20 Ampere
              td.col-03 380 Volt mit C-20 Ampere
            tr
              td WiFi
              td.col-01 Optional
              td.col-02 Optional
              td.col-03 Optional
              td.col-01 Optional
              td.col-02 Optional
              td.col-03 Optional
            tr
              td Extra-starke Abdeckung
              td.col-01 Optional
              td.col-02 Optional
              td.col-03 Optional
              td.col-01 Optional
              td.col-02 Optional
              td.col-03 Optional
            tr
              td Wasserdichte Hülle für Ihren Whirlpool
              td.col-01 Optional
              td.col-02 Optional
              td.col-03 Optional
              td.col-01 Optional
              td.col-02 Optional
              td.col-03 Optional






      //.compare-list
        .compare-col


    //end   compare-body

  //end content

  include ../sections/footer
  include ../sections/scripts

