// begin article-01-header
.article-01-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 440px;
  padding: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include max(700) {
    min-height: 300px;
    padding: 30px ;
  }
}
.article-01-header__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  max-width: 600px;
  color: #fff;

  @include max(1024) {
    font-size: 40px;
  }
  @include max(700) {
    font-size: 28px;
  }
}
// end article-01-header


// begin article-02-header
.article-02-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 440px;
  padding: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include max(700) {
    min-height: 300px;
    padding: 30px ;
  }
}
.article-02-header__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  max-width: 600px;
  color: $text;

  @include max(1024) {
    font-size: 40px;
  }
  @include max(700) {
    font-size: 28px;
  }
}
// end article-02-header


// begin article
.article {
  padding: 20px 0 50px 0;

  @include max(1000) {
    padding: 0 0 60px 0;
  }
}
.article__row {
  display: flex;
  align-items: center;

  @include max(1000) {
    flex-direction: column;
  }
}
.article__row--text {
  padding: 50px 0 30px 0;
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;

    @include max(700) {
      font-size: 16px;
    }
  }
}
.article__row--right {
  flex-direction: row-reverse;

  @include max(1000) {
    flex-direction: column;
  }

  .article__item-pic {
    padding: 30px 0 30px 40px;

    @include max(1000) {
      padding: 20px 0;
    }
  }
  .article__item-text {
    padding: 30px 40px 30px 0;

    @include max(1000) {
      padding: 20px 0 10px 0;
    }
  }
}
.article__item-text,
.article__item-pic {
  width: 50%;

  @include max(1000) {
    width: 100%;
  }
}
.article__item-pic {
  padding: 30px 40px 30px 0;

  @include max(1000) {
    padding: 20px 0;
  }

  img {
    display: block;
    width: 100%;
  }
}
.article__item-title {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 40px;

  @include max(1000) {
    margin-bottom: 15px;
  }
}
.article__item-text {
  padding: 30px 0 30px 40px;

  @include max(1000) {
    padding: 20px 0 10px 0;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.article-banner {
  min-height: 420px;
  margin: 70px 0;
  padding: 50px 0;
  background-image: url('../img/bg-article-banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include max(1000) {
    min-height: 0;
    background-color: #edf7f9;
    background-image: none;
    .article__item-pic {
      display: none;
    }
  }
}
// end article


//begin article-heart
.article-heart {
  margin-bottom: 70px;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 21px;
    height: 18px;
    fill:#f05228;
    margin-right: 20px;
  }
  span {
    font-size: 24px;
    font-weight: 300;

    @include max(768) {
      font-size: 20px;
    }
  }
}
//end   article-heart
