//begin blog header
.blog-header {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  align-items: center;
  background-color: #f6f8fa;
  @include max(700) {
    padding: 30px ;
  }
  .breadcrumbs {
    width: 100%;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    width: 60%;
    max-width: 930px;
    @include max(1300) {
      max-width: 100%;
      width: 100%;
    }
  }
}
.blog-header__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  width: 40%;
  padding-right: 20px;
  @include max(1300) {
  margin-bottom: 20px;
    width: 100%;
  }
  @include max(1100) {
    font-size: 50px;
  }
  @include max(700) {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
//end blog header


.blog-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 100px;
}
.blog-item {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 0 10px 10px 0;
  width: 20%;
  @include max(1600) {
    width: 25%;
  }
  @include max(1100) {
    width: 33.33%;
  }
  @include max(768) {
    width: 50%;
  }
  @include max(550) {
    width: 100%;
  }
}

.blog-item__img {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transition: opacity .5s;
    pointer-events: none;
    opacity: 0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  }

  &:hover {
    &::before {
      opacity: .8;
    }
    .tips-slider__link {
      svg {
        fill: #fff;
      }
    }
  }
  img {
    display: block;
    width: 100%;
  }
}
.blog-item__footer {
  position: absolute;
  right: 5px;
  bottom: 50px;
  left: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
}
.blog-item__title {
  width: 100%;
  span {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    max-width: 215px;
    color: #fff;
  }
}
.blog-item__link {
  display: block;
  width: 20px;
  height: 20px;
  margin: 5px 0 0 auto;
  cursor: pointer;
  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }
  svg {
    width: 20px;
    height: 20px;
    transition: .5s;

    fill: $highlight;
  }
}
