//begin reviews header
.reviews-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background-color: #f6f8fa;

  @include max(700) {
    padding: 30px ;
  }

  .breadcrumbs {
    width: 100%;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    width: 60%;
    max-width: 930px;

    @include max(1000) {
      width: 100%;
    }
  }
}
.reviews-header__title {
  font-size: 60px;
  font-weight: 700;
  width: 40%;
  margin-bottom: 20px;
  padding-right: 20px;

  @include max(1000) {
    width: 100%;
  }
  @include max(700) {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
//end reviews header

.reviews__list {
  display: flex;
  flex-wrap: wrap;
}
.reviews__item {
  display: flex;
  flex: none;
  width: 50%;
  padding: 50px 0;

  @include max(1100) {
    width: 100%;
  }
  @include max(600) {
    flex-wrap: wrap;
  }
}
.reviews__item-left {
  display: flex;
  align-items: center;
  flex: none;
  justify-content: center;
  width: 320px;

  @include max(1300) {
    width: 260px;
  }
  @include max(1100) {
    width: 320px;
  }
  @include max(768) {
    justify-content: flex-start;
    width: 260px;
  }
  @include max(600) {
    justify-content: center;
    width: 100%;
  }
  img {
    display: block;
    max-width: 90%;
  }
}
.reviews__item--pdf {
  .reviews__item-left  a {
    outline: none;
    img {
      display: block;
      max-width: 100%;
      transition: border-color .5s;
      border: 10px solid #e6fffe;
      &:hover {
        border-color: #caf8f6;
      }
    }
  }
}
.reviews__item--blockquote {
  text-decoration: none;
  &:hover {
    .reviews__item-left {
      svg {
        fill: $highlight;
      }
    }
  }
  .reviews__item-left {
    position: relative;
    svg {
      width: 85px;
      height: 65px;
      margin-top: 5px;
      transition: fill .5s;

      fill: #bdf2fb;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 22px;
      height: 20px;
      margin: auto;
    }
  }
}
.reviews__item--video {
  .reviews__item-left {
    a {
      position: relative;
      outline: none;
      &:hover {
        &::before {
          opacity: 1;
        }
        &::after {
          border-left: 26px solid #fff;
        }
      }
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: '';
        transition: .5s;
        pointer-events: none;
        opacity: 0;
        background-image: $gradient;
      }
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 24px;
        height: 26px;
        margin: auto;
        content: '';
        transition: .5s;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 26px solid $highlight;;
      }
    }
  }
}
.reviews__item-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 60px;
  text-decoration: none;

  @include max(600) {
    padding-top: 40px;
    padding-right: 10px;
  }
  &:hover {
    p,
    .reviews-slider__signature {
      color: $highlight;
    }
  }
  p {
    font-size: 16px;
    font-weight: 300;
    transition: color .5s;
    color: $text;
  }
}
.reviews-slider__signature {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  transition: color .5s;
  color: $text;
}
